%h4 2017

.pitem
  .pubmain(style="min-height:0px")
    
    %h4.pubtitle COST IC1405 Training School 2017
    .project-description
      Talk
      %i Hierarchical reversible logic synthesis
      
      (August 2017)
    .project-description
      %a(href="http://www.informatik.uni-bremen.de/ictcost/school2017.php?program" target="_blank") More information

.pitem
  .pubmain(style="min-height:0px")
    
    %h4.pubtitle Reversible Computation Summer School 2017
    .project-description
      Talk
      %i Reversible logic synthesis and RevKit
      
      (July 2017)
    .project-description
      %a(href="http://reversible-computation.org/2017/images/Program-RC2017.pdf" target="_blank") More information

.pitem
  .pubmain(style="min-height:0px")
    %a(href="https://www.microsoft.com/en-us/research/" target="_blank")
      %img.project-thumb(src="images/logos/msr.png" border="0")
    %h4.pubtitle Microsoft Research
    .project-description
      Talk
      %i LUT-based hierarchical reversible logic synthesis
      invited by Dr. Martin Roetteler and Dr. Nathan Wiebe
      (February 2017)
    
%h4 2016

.pitem
  .pubmain(style="min-height:0px")
    %a(href="http://www.synopsys.com/" target="_blank")
      %img.project-thumb(src="images/logos/snps.png" border="0")
    %h4.pubtitle Synopsys
    .project-description
      Talk
      %i SAT-based logic synthesis
      invited by Dr. Luca Amarù
      (November 2016)
    

.pitem
  .pubmain(style="min-height:0px")
    %a(href="https://www.microsoft.com/en-us/research/" target="_blank")
      %img.project-thumb(src="images/logos/msr.png" border="0")
    %h4.pubtitle Microsoft Research
    .project-description
      Talk
      %i Symbolic and hierarchical reversible logic synthesis
      invited by Dr. Martin Roetteler and Dr. Nathan Wiebe
      (September 2016)
    

.pitem
  .pubmain(style="min-height:0px")
    %a(href="https://www.oia.hokudai.ac.jp" target="_blank")
      %img.project-thumb(src="images/logos/hu.png" border="0")
    %h4.pubtitle Hokkaido University (北海道大学)
    .project-description
      Talk
      %i Ancilla-free reversible logic synthesis using symbolic methods
      invited by Prof. Shin-ichi Minato
      (May 2016)
    .project-description
      %a(href="http://www-erato.ist.hokudai.ac.jp/html/php/seminar.php?day=20160517" target="_blank") More information

.pitem
  .pubmain(style="min-height:0px")
    %a(href="http://www.birs.ca" target="_blank")
      %img.project-thumb(src="images/logos/birs.png" border="0")
    %h4.pubtitle Banff International Research Station
    .project-description
      Talk
      %i Ancilla-free reversible logic synthesis using symbolic methods
      invited by Dr. Martin Roetteler
      (April 2016)
    .project-description
      %a(href="http://www.birs.ca/events/2016/5-day-workshops/16w5029/videos/watch/201604181552-Soeken.html" target="_blank") More information
%h4 2015

.pitem
  .pubmain(style="min-height:0px")
    %a(href="http://epfl.ch" target="_blank")
      %img.project-thumb(src="images/logos/epfl.png" border="0")
    %h4.pubtitle EPFL (École Polytechnique Fédérale de Lausanne)
    .project-description
      Talk
      %i Reverse engineering with simulation graphs
      invited by Prof. Paolo Ienne
      (June 2015)
    

.pitem
  .pubmain(style="min-height:0px")
    
    %h4.pubtitle Reed-Muller Workshop 2015
    .project-description
      Talk
      %i Generalized equivalence checking problems for reverse engineering
      
      (May 2015)
    .project-description
      %a(href="http://lyle.smu.edu/RM2015/program.htm" target="_blank") More information
%h4 2014

.pitem
  .pubmain(style="min-height:0px")
    %a(href="https://www.sri.com" target="_blank")
      %img.project-thumb(src="images/logos/sri.png" border="0")
    %h4.pubtitle SRI International
    .project-description
      Talk
      %i Reverse engineering
      invited by Dr. Wenchao Li
      (December 2014)
    

.pitem
  .pubmain(style="min-height:0px")
    %a(href="http://www.unb.ca" target="_blank")
      %img.project-thumb(src="images/logos/unb.png" border="0")
    %h4.pubtitle University of New Brunswick
    .project-description
      Talk
      %i Formal specification level
      invited by Prof. Gerhard W. Dueck
      (October 2014)
    .project-description
      %a(href="http://www.cs.unb.ca/seminarseries/documents/Mathias_Soeken-10.29.14.pdf" target="_blank") More information

.pitem
  .pubmain(style="min-height:0px")
    %a(href="http://en.ritsumei.ac.jp" target="_blank")
      %img.project-thumb(src="images/logos/ru.png" border="0")
    %h4.pubtitle Ritsumeikan University (立命館大学)
    .project-description
      Talk
      %i Formal specification level
      invited by Prof. Shigeru Yamashita
      (May 2014)
    

.pitem
  .pubmain(style="min-height:0px")
    %a(href="http://www.rwth-aachen.de" target="_blank")
      %img.project-thumb(src="images/logos/rwth.png" border="0")
    %h4.pubtitle RWTH Aachen University (RWTH Aachen)
    .project-description
      Talk
      %i Implementing synthesis flows with RevKit
      invited by Prof. Anupam Chattopadhyay
      (2014)
    

.pitem
  .pubmain(style="min-height:0px")
    %a(href="http://stanford.edu" target="_blank")
      %img.project-thumb(src="images/logos/su.png" border="0")
    %h4.pubtitle Stanford University
    .project-description
      Talk
      %i Formal specification level
      invited by Prof. Subhasish Mitra
      (April 2014)
    
%h4 2013

.pitem
  .pubmain(style="min-height:0px")
    
    %h4.pubtitle CukeUp! 2013
    .project-description
      Talk
      %i Towards automatic scenario generation based on uncovered code
      
      (April 2013)
    .project-description
      %a(href="https://skillsmatter.com/skillscasts/4043-towards-automatic-scenario-generation-based-on-uncovered-code" target="_blank") More information

.pitem
  .pubmain(style="min-height:0px")
    %a(href="https://www.oia.hokudai.ac.jp" target="_blank")
      %img.project-thumb(src="images/logos/hu.png" border="0")
    %h4.pubtitle Hokkaido University (北海道大学)
    .project-description
      Talk
      %i Synthesis of reversible circuits with minimal lines for large functions
      invited by Prof. Shin-ichi Minato
      (January 2013)
    
%h4 2012

.pitem
  .pubmain(style="min-height:0px")
    
    %h4.pubtitle CukeUp! 2012
    .project-description
      Talk
      %i BDD for embedded system design
      
      (April 2012)
    .project-description
      %a(href="https://skillsmatter.com/skillscasts/3124-bdd-for-embedded-system-design" target="_blank") More information
%h4 2011

.pitem
  .pubmain(style="min-height:0px")
    %a(href="https://www.oia.hokudai.ac.jp" target="_blank")
      %img.project-thumb(src="images/logos/hu.png" border="0")
    %h4.pubtitle Hokkaido University (北海道大学)
    .project-description
      Talk
      %i Formal verification of UML-based specifications
      invited by Prof. Shin-ichi Minato
      (January 2011)
    .project-description
      %a(href="http://www-erato.ist.hokudai.ac.jp/wiki/wiki.cgi?page=ERATO-seminar" target="_blank") More information
