%h4 2022
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1038/s41534-021-00514-y" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="https://www.nature.com/npjqi/" target="_blank")
      %img.pubthumb(src="images/covers/npjqi.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j31 Xor-And-Inverter graphs for quantum compilation
    .pubauthor
      Giulia Meuli,
      %strong Mathias Soeken,
      Giovanni De Micheli
    .pubcite
      %span.label.label-info Journal Article 31
      In npj Quantum Information 8, 2022 | Pages 7 | Publisher: Springer Nature
%h4 2021
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/TQE.2021.3101663" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="https://tqe.ieee.org" target="_blank")
      %img.pubthumb(src="images/covers/tqe.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j30 Efficient Boolean methods for preparing uniform quantum states
    .pubauthor
      Fereshte Mozafari,
      Heinz Riener,
      %strong Mathias Soeken,
      Giovanni De Micheli
    .pubcite
      %span.label.label-info Journal Article 30
      In IEEE Transactions on Quantum Engineering 2, 2021 | Pages 3103112 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/TCAD.2020.3032625" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://ieee-ceda.org/publication/tcad-publication" target="_blank")
      %img.pubthumb(src="images/covers/tcad.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j29 Three-input gates for logic synthesis
    .pubauthor
      Dewmini Sudara Marakkalage,
      Eleonora Testa,
      Heinz Riener,
      Alan Mishchenko,
      %strong Mathias Soeken,
      Giovanni De Micheli
    .pubcite
      %span.label.label-info Journal Article 29
      In IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems 40(10), 2021 | Pages 2184-2188 | Publisher: IEEE
%h4 2020
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/ACCESS.2020.3045014" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="https://ieeeaccess.ieee.org" target="_blank")
      %img.pubthumb(src="images/covers/access.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j28 Extending Boolean methods for scalable logic synthesis
    .pubauthor
      Eleonora Testa,
      Luca Gaetano Amarù,
      %strong Mathias Soeken,
      Alan Mishchenko,
      Patrick Vuillod,
      Pierre-Emmanuel Gaillardon,
      Giovanni De Micheli
    .pubcite
      %span.label.label-info Journal Article 28
      In IEEE Access 8, 2020 | Pages 226828-226844 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1038/s42254-020-00245-7" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="https://www.nature.com/natrevphys/" target="_blank")
      %img.pubthumb(src="images/covers/nrp.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j27 Quantum programming languages
    .pubauthor
      Bettina Heim,
      %strong Mathias Soeken,
      Sarah Marshall,
      Christopher Granade,
      Martin Roetteler,
      Alan Geller,
      Matthias Troyer,
      Krysta M. Svore
    .pubcite
      %span.label.label-info Journal Article 27
      In Nature Reviews Physics 2, 2020 | Pages 709-722 | Publisher: Springer Nature
.item
  .pubmain
    .pubassets
      %a(href="https://www.oldcitypublishing.com/journals/mvlsc-home/mvlsc-issue-contents/mvlsc-volume-34-number-3-4-2020/mvlsc-34-3-4-p-203-221/" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://www.oldcitypublishing.com/journals/mvlsc-home/" target="_blank")
      %img.pubthumb(src="images/covers/mvl.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j26 A spectral algorithm for 3-valued function equivalence classification
    .pubauthor
      D. Michael Miller,
      %strong Mathias Soeken
    .pubcite
      %span.label.label-info Journal Article 26
      In Multiple-Valued Logic and Soft Computing 34(3-4), 2020 | Pages 203-221 | Publisher: Old City Publishing
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/TCAD.2019.2925392" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://ieee-ceda.org/publication/tcad-publication" target="_blank")
      %img.pubthumb(src="images/covers/tcad.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j25 Advanced functional decomposition using majority and its applications
    .pubauthor
      Zhufei Chu,
      %strong Mathias Soeken,
      Yinshui Xia,
      Lunyao Wang,
      Giovanni De Micheli
    .pubcite
      %span.label.label-info Journal Article 25
      In IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems 39(8), 2020 | Pages 1621-1634 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/TCAD.2019.2897703" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://ieee-ceda.org/publication/tcad-publication" target="_blank")
      %img.pubthumb(src="images/covers/tcad.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j24 SAT-based exact synthesis: encodings, topology families, and parallelism
    .pubauthor
      Winston Haaswijk,
      %strong Mathias Soeken,
      Alan Mishchenko,
      Giovanni De Micheli
    .pubcite
      %span.label.label-info Journal Article 24
      In IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems 39(4), 2020 | Pages 871&ndash;884 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1098/rsta.2019.0161" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="https://royalsocietypublishing.org/journal/rsta" target="_blank")
      %img.pubthumb(src="images/covers/rsta.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j23 Boolean satisfiability in quantum compilation
    .pubauthor
      %strong Mathias Soeken,
      Giulia Meuli,
      Bruno Schmitt,
      Fereshte Mozafari,
      Heinz Riener,
      Giovanni De Micheli
    .pubcite
      %span.label.label-info Journal Article 23
      In Philosophical Transactions of the Royal Society A 378(2164), 2020 | Pages  | Publisher: The Royal Society Publishing
%h4 2019
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/TCAD.2018.2859251" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://ieee-ceda.org/publication/tcad-publication" target="_blank")
      %img.pubthumb(src="images/covers/tcad.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j22 LUT-based hierarchical reversible logic synthesis
    .pubauthor
      %strong Mathias Soeken,
      Martin Roetteler,
      Nathan Wiebe,
      Giovanni De Micheli
    .pubcite
      %span.label.label-info Journal Article 22
      In IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems 38(9), 2019 | Pages 1675&ndash;1688 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/TC.2018.2881245" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="https://www.computer.org/csdl/journal/tc" target="_blank")
      %img.pubthumb(src="images/covers/tc.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j21 Mapping monotone Boolean functions into majority
    .pubauthor
      Eleonora Testa,
      %strong Mathias Soeken,
      Luca Gaetano Amarù,
      Winston Haaswijk,
      Giovanni De Micheli
    .pubcite
      %span.label.label-info Journal Article 21
      In IEEE Transactions on Computer 68(5), 2019 | Pages 791&ndash;797 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/JPROC.2018.2869760" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://proceedingsoftheieee.ieee.org" target="_blank")
      %img.pubthumb(src="images/covers/procieee.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j20 Logic synthesis for established and emerging computing
    .pubauthor
      Eleonora Testa,
      %strong Mathias Soeken,
      Luca Gaetano Amarù,
      Giovanni De Micheli
    .pubcite
      %span.label.label-info Journal Article 20
      In Proceedings of the IEEE 107(1), 2019 | Pages 1558&ndash;2256 | Publisher: IEEE
%h4 2018
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1016/j.ipl.2018.07.004" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://www.journals.elsevier.com/information-processing-letters/" target="_blank")
      %img.pubthumb(src="images/covers/ipl.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j19 Pairs of majority-decomposing functions
    .pubauthor
      %strong Mathias Soeken,
      Eleonora Testa,
      Alan Mishchenko,
      Giovanni De Micheli
    .pubcite
      %span.label.label-info Journal Article 19
      In Information Processing Letters 139, 2018 | Pages 35-38 | Publisher: Elsevier
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1016/j.ipl.2018.06.010" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://www.journals.elsevier.com/information-processing-letters/" target="_blank")
      %img.pubthumb(src="images/covers/ipl.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j18 The complexity of error metric
    .pubauthor
      Oliver Keszocze,
      %strong Mathias Soeken,
      Rolf Drechsler
    .pubcite
      %span.label.label-info Journal Article 18
      In Information Processing Letters 139, 2018 | Pages 1&ndash;7 | Publisher: Elsevier
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/TCAD.2017.2750064" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://ieee-ceda.org/publication/tcad-publication" target="_blank")
      %img.pubthumb(src="images/covers/tcad.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j17 Logic synthesis for RRAM-based in-memory computing
    .pubauthor
      Saeideh Shirinzadeh,
      %strong Mathias Soeken,
      Pierre-Emmanuel Gaillardon,
      Rolf Drechsler
    .pubcite
      %span.label.label-info Journal Article 17
      In IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems 37(7), 2018 | Pages 1937-4151 | Publisher: IEEE
%h4 2017
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/TCAD.2017.2664059" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://ieee-ceda.org/publication/tcad-publication" target="_blank")
      %img.pubthumb(src="images/covers/tcad.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j16 Exact synthesis of majority-inverter graphs and its applications
    .pubauthor
      %strong Mathias Soeken,
      Luca Gaetano Amarù,
      Pierre-Emmanuel Gaillardon,
      Giovanni De Micheli
    .pubcite
      %span.label.label-info Journal Article 16
      In IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems 36(11), 2017 | Pages 1842&ndash;1855 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      %a(href="http://link.springer.com/article/10.1007/s10009-016-0426-1" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://www.springer.com/computer/swe/journal/10009" target="_blank")
      %img.pubthumb(src="images/covers/sttt.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j15 metaSMT: Focus on your application and not on solver integration
    .pubauthor
      Heinz Riener,
      Finn Haedicke,
      Stefan Frehse,
      %strong Mathias Soeken,
      Daniel Große,
      Rolf Drechsler,
      Görschwin Fey
    .pubcite
      %span.label.label-info Journal Article 15
      In Journal on Software Tools for Technology Transfer 19(5), 2017 | Pages 605&ndash;621 | Publisher: Springer
.item
  .pubmain
    .pubassets
      %a(href="https://doi.org/10.1109/MC.2017.173" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="https://www.computer.org/computer-magazine/" target="_blank")
      %img.pubthumb(src="images/covers/computer.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j14 A PLiM computer for the Internet of Things
    .pubauthor
      %strong Mathias Soeken,
      Pierre-Emmanuel Gaillardon,
      Saeideh Shirinzadeh,
      Rolf Drechsler,
      Giovanni De Micheli
    .pubcite
      %span.label.label-info Journal Article 14
      In Computer 50(6), 2017 | Pages 35&ndash;40 | Publisher: IEEE
%h4 2016
.item
  .pubmain
    .pubassets
      %a(href="http://digital-library.theiet.org/content/journals/10.1049/iet-cps.2016.0022" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://digital-library.theiet.org/content/journals/iet-cps;jsessionid=15e1smt7vf2ux.x-iet-live-01" target="_blank")
      %img.pubthumb(src="images/covers/cps.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j13 Verifying the structure and behavior in UML/OCL models using satisfiability solvers
    .pubauthor
      Nils Przigoda,
      %strong Mathias Soeken,
      Robert Wille,
      Rolf Drechsler
    .pubcite
      %span.label.label-info Journal Article 13
      In Cyber-Physical Systems: Theory & Applications 1(1), 2016 | Pages 49&ndash;59 | Publisher: IET
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1016/j.combustflame.2016.03.007" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://www.journals.elsevier.com/combustion-and-flame/" target="_blank")
      %img.pubthumb(src="images/covers/cnf.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j12 Time-resolved detection of diffusion limited temperature gradients inside single isolated burning droplets using rainbow refractometry
    .pubauthor
      Christopher D. Rosebrock,
      Saeideh Shirinzadeh,
      %strong Mathias Soeken,
      Norbert Riefler,
      Thomas Wriedt,
      Rolf Drechsler,
      Lutz Mädler
    .pubcite
      %span.label.label-info Journal Article 12
      In Combustion and Flame 168, 2016 | Pages 255-269 | Publisher: Elsevier
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1016/j.tcs.2016.01.011" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://www.journals.elsevier.com/theoretical-computer-science/" target="_blank")
      %img.pubthumb(src="images/covers/tcs.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j11 Complexity of reversible circuits and their quantum implementations
    .pubauthor
      Nabila Abdessaied,
      Matthew Amy,
      Rolf Drechsler,
      %strong Mathias Soeken
    .pubcite
      %span.label.label-info Journal Article 11
      In Theoretical Computer Science 618, 2016 | Pages 85&ndash;106 | Publisher: Elsevier
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1515/zkri-2015-1887" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://www.degruyter.com/view/j/zkri" target="_blank")
      %img.pubthumb(src="images/covers/zk.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j10 Atomic distributions in crystal structures solved by Boolean satisfiability techniques
    .pubauthor
      %strong Mathias Soeken,
      Rolf Drechsler,
      Reinhard X. Fischer
    .pubcite
      %span.label.label-info Journal Article 10
      In Zeitschrift für Kristallographie - Crystalline Materials 231(2), 2016 | Pages 107&ndash;111 | Publisher: De Gruyter
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1016/j.vlsi.2015.10.001" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://www.journals.elsevier.com/integration-the-vlsi-journal/" target="_blank")
      %img.pubthumb(src="images/covers/integration.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j9 SyReC: A hardware description language for the specification and synthesis of reversible circuits
    .pubauthor
      Robert Wille,
      Eleonora Schönborn,
      %strong Mathias Soeken,
      Rolf Drechsler
    .pubcite
      %span.label.label-info Journal Article 9
      In Integration 53, 2016 | Pages 39&ndash;53 | Publisher: Elsevier
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1016/j.jsc.2015.03.002" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://www.journals.elsevier.com/journal-of-symbolic-computation/" target="_blank")
      %img.pubthumb(src="images/covers/jsc.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j8 Ancilla-free synthesis of large reversible functions using binary decision diagrams
    .pubauthor
      %strong Mathias Soeken,
      Laura Tague,
      Gerhard W. Dueck,
      Rolf Drechsler
    .pubcite
      %span.label.label-info Journal Article 8
      In Journal of Symbolic Computation 73, 2016 | Pages 1&ndash;26 | Publisher: Elsevier
%h4 2015
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1145/2786982" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://jetc.acm.org/" target="_blank")
      %img.pubthumb(src="images/covers/jetc.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j7 Embedding of large Boolean functions for reversible logic
    .pubauthor
      %strong Mathias Soeken,
      Robert Wille,
      Oliver Keszocze,
      D. Michael Miller,
      Rolf Drechsler
    .pubcite
      %span.label.label-info Journal Article 7
      In Journal on Emerging Technologies in Computing Systems 12(4), 2015 | Pages 41 | Publisher: ACM
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1007/s10270-013-0369-x" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://www.sosym.org/" target="_blank")
      %img.pubthumb(src="images/covers/sosym.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j6 Specification-driven model transformation testing
    .pubauthor
      Esther Guerra,
      %strong Mathias Soeken
    .pubcite
      %span.label.label-info Journal Article 6
      In Software and System Modeling 14(2), 2015 | Pages 623&ndash;644 | Publisher: Springer
%h4 2014
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1016/j.ipl.2014.01.003" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://www.journals.elsevier.com/information-processing-letters/" target="_blank")
      %img.pubthumb(src="images/covers/ipl.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j5 Upper bounds for reversible circuits based on Young subgroups
    .pubauthor
      Nabila Abdessaied,
      %strong Mathias Soeken,
      Michael Kirkedal Thomsen,
      Rolf Drechsler
    .pubcite
      %span.label.label-info Journal Article 5
      In Information Processing Letters 114(6), 2014 | Pages 282&ndash;286 | Publisher: Elsevier
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1016/j.vlsi.2013.08.002" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://www.journals.elsevier.com/integration-the-vlsi-journal/" target="_blank")
      %img.pubthumb(src="images/covers/integration.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j4 Trading off circuit lines and gate costs in the synthesis of reversible logic
    .pubauthor
      Robert Wille,
      %strong Mathias Soeken,
      D. Michael Miller,
      Rolf Drechsler
    .pubcite
      %span.label.label-info Journal Article 4
      In Integration 47(2), 2014 | Pages 284&ndash;294 | Publisher: Elsevier
%h4 2013
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1103/PhysRevA.88.042322" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://journals.aps.org/pra/" target="_blank")
      %img.pubthumb(src="images/covers/pra.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j3 Quantum circuits employing roots of the Pauli matrices
    .pubauthor
      %strong Mathias Soeken,
      D. Michael Miller,
      Rolf Drechsler
    .pubcite
      %span.label.label-info Journal Article 3
      In Physical Review A 88(042322), 2013 | Pages 042322 | Publisher: American Physical Society
.item
  .pubmain
    .pubassets
      %a(href="http://www.oldcitypublishing.com/MVLSC/MVLSCabstracts/MVLSC21.5-6abstracts/MVLSCv21n5-6p627-640Wille.html" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://www.oldcitypublishing.com/journals/mvlsc-home/" target="_blank")
      %img.pubthumb(src="images/covers/mvl.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j2 Effect of negative control lines on the exact synthesis of reversible circuits
    .pubauthor
      Robert Wille,
      %strong Mathias Soeken,
      Nils Przigoda,
      Rolf Drechsler
    .pubcite
      %span.label.label-info Journal Article 2
      In Multiple-Valued Logic and Soft Computing 21(5--6), 2013 | Pages 627&ndash;640 | Publisher: Old City Publishing
%h4 2012
.item
  .pubmain
    .pubassets
      %a(href="http://www.oldcitypublishing.com/MVLSC/MVLSCabstracts/MVLSC18.1abstracts/MVLSCv18n1p55-65Soeken.html" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://www.oldcitypublishing.com/journals/mvlsc-home/" target="_blank")
      %img.pubthumb(src="images/covers/mvl.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle#j1 RevKit: A toolkit for reversible circuit design
    .pubauthor
      %strong Mathias Soeken,
      Stefan Frehse,
      Robert Wille,
      Rolf Drechsler
    .pubcite
      %span.label.label-info Journal Article 1
      In Multiple-Valued Logic and Soft Computing 18(1), 2012 | Pages 55&ndash;65 | Publisher: Old City Publishing
