%h4 2016
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1016/j.tcs.2016.01.011" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://www.journals.elsevier.com/theoretical-computer-science/" target="_blank")
      %img.pubthumb(src="images/covers/tcs.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle
      Complexity of reversible circuits and their quantum implementations
    .pubauthor
      Nabila Abdessaied,
      Matthew Amy,
      Rolf Drechsler,
      %strong Mathias Soeken
    .pubcite
      %span.label.label-info Journal Article 11
      In Theoretical Computer Science 618, 2016 | Pages 85&ndash;106 | Publisher: Elsevier
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1515/zkri-2015-1887" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://www.degruyter.com/view/j/zkri" target="_blank")
      %img.pubthumb(src="images/covers/zk.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle
      Atomic distributions in crystal structures solved by Boolean satisfiability techniques
    .pubauthor
      %strong Mathias Soeken,
      Rolf Drechsler,
      Reinhard X. Fischer
    .pubcite
      %span.label.label-info Journal Article 10
      In Zeitschrift für Kristallographie - Crystalline Materials 231(2), 2016 | Pages 107&ndash;111 | Publisher: De Gruyter
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1016/j.vlsi.2015.10.001" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://www.journals.elsevier.com/integration-the-vlsi-journal/" target="_blank")
      %img.pubthumb(src="images/covers/integration.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle
      SyReC: A hardware description language for the specification and synthesis of reversible circuits
    .pubauthor
      Robert Wille,
      Eleonora Schönborn,
      %strong Mathias Soeken,
      Rolf Drechsler
    .pubcite
      %span.label.label-info Journal Article 9
      In Integration 53, 2016 | Pages 39&ndash;53 | Publisher: Elsevier
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1016/j.jsc.2015.03.002" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://www.journals.elsevier.com/journal-of-symbolic-computation/" target="_blank")
      %img.pubthumb(src="images/covers/jsc.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle
      Ancilla-free synthesis of large reversible functions using binary decision diagrams
    .pubauthor
      %strong Mathias Soeken,
      Laura Tague,
      Gerhard W. Dueck,
      Rolf Drechsler
    .pubcite
      %span.label.label-info Journal Article 8
      In Journal of Symbolic Computation 73, 2016 | Pages 1&ndash;26 | Publisher: Elsevier
%h4 2015
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1145/2786982" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://jetc.acm.org/" target="_blank")
      %img.pubthumb(src="images/covers/jetc.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle
      Embedding of large Boolean functions for reversible logic
    .pubauthor
      %strong Mathias Soeken,
      Robert Wille,
      Oliver Keszocze,
      D. Michael Miller,
      Rolf Drechsler
    .pubcite
      %span.label.label-info Journal Article 7
      In Journal on Emerging Technologies in Computing Systems 12(4), 2015 | Pages 41 | Publisher: ACM
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1007/s10270-013-0369-x" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://www.sosym.org/" target="_blank")
      %img.pubthumb(src="images/covers/sosym.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle
      Specification-driven model transformation testing
    .pubauthor
      Esther Guerra,
      %strong Mathias Soeken
    .pubcite
      %span.label.label-info Journal Article 6
      In Software and System Modeling 14(2), 2015 | Pages 623&ndash;644 | Publisher: Springer
%h4 2014
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1016/j.ipl.2014.01.003" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://www.journals.elsevier.com/information-processing-letters/" target="_blank")
      %img.pubthumb(src="images/covers/ipl.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle
      Upper bounds for reversible circuits based on Young subgroups
    .pubauthor
      Nabila Abdessaied,
      %strong Mathias Soeken,
      Michael Kirkedal Thomsen,
      Rolf Drechsler
    .pubcite
      %span.label.label-info Journal Article 5
      In Information Processing Letters 114(6), 2014 | Pages 282&ndash;286 | Publisher: Elsevier
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1016/j.vlsi.2013.08.002" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://www.journals.elsevier.com/integration-the-vlsi-journal/" target="_blank")
      %img.pubthumb(src="images/covers/integration.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle
      Trading off circuit lines and gate costs in the synthesis of reversible logic
    .pubauthor
      Robert Wille,
      %strong Mathias Soeken,
      D. Michael Miller,
      Rolf Drechsler
    .pubcite
      %span.label.label-info Journal Article 4
      In Integration 47(2), 2014 | Pages 284&ndash;294 | Publisher: Elsevier
%h4 2013
.item
  .pubmain
    .pubassets
      %a(href="http://dx.doi.org/10.1103/PhysRevA.88.042322" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://journals.aps.org/pra/" target="_blank")
      %img.pubthumb(src="images/covers/pra.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle
      Quantum circuits employing roots of the Pauli matrices
    .pubauthor
      %strong Mathias Soeken,
      D. Michael Miller,
      Rolf Drechsler
    .pubcite
      %span.label.label-info Journal Article 3
      In Physical Review A 88(042322), 2013 | Pages 042322 | Publisher: American Physical Society
.item
  .pubmain
    .pubassets
      %a(href="http://www.oldcitypublishing.com/MVLSC/MVLSCabstracts/MVLSC21.5-6abstracts/MVLSCv21n5-6p627-640Wille.html" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://www.oldcitypublishing.com/journals/mvlsc-home/" target="_blank")
      %img.pubthumb(src="images/covers/mvl.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle
      Effect of negative control lines on the exact synthesis of reversible circuits
    .pubauthor
      Robert Wille,
      %strong Mathias Soeken,
      Nils Przigoda,
      Rolf Drechsler
    .pubcite
      %span.label.label-info Journal Article 2
      In Multiple-Valued Logic and Soft Computing 21(5--6), 2013 | Pages 627&ndash;640 | Publisher: Old City Publishing
%h4 2012
.item
  .pubmain
    .pubassets
      %a(href="http://www.oldcitypublishing.com/MVLSC/MVLSCabstracts/MVLSC18.1abstracts/MVLSCv18n1p55-65Soeken.html" data-toggle="tooltip" data-placement="top" title="Open paper" target="_blank")
        %span.glyphicon.glyphicon-new-window
      /
        %a(href="papers/.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a(href="http://www.oldcitypublishing.com/journals/mvlsc-home/" target="_blank")
      %img.pubthumb(src="images/covers/mvl.png" data-toggle="tooltip" data-placement="top" title="Open journal homepage")
    %h4.pubtitle
      RevKit: A toolkit for reversible circuit design
    .pubauthor
      %strong Mathias Soeken,
      Stefan Frehse,
      Robert Wille,
      Rolf Drechsler
    .pubcite
      %span.label.label-info Journal Article 1
      In Multiple-Valued Logic and Soft Computing 18(1), 2012 | Pages 55&ndash;65 | Publisher: Old City Publishing
