.col-md-3#left-column
  %ul.nav.nav-pills.nav-stacked
    %li(role="presentation"){:class => ("active" if page == "index" )}
      %a(href="index.html")
        %i.fa.fa-user(aria-hidden="true")
        .text
          About me
    %li(role="presentation"){:class => ("active" if page == "research" )}
      %a(href="research.html")
        %i.fa.fa-graduation-cap(aria-hidden="true")
        .text
          Research
    %li(role="presentation"){:class => ("active" if page == "teaching" )}
      %a(href="teaching.html")
        %i.fa.fa-users(aria-hidden="true")
        .text
          Teaching
    %li(role="presentation"){:class => ("active" if page == "publications" )}
      %a(href="publications.html")
        %i.fa.fa-users(aria-hidden="true")
        .text
          Publications
    %li(role="presentation"){:class => ("active" if page == "blog" )}
      %a(href="blog.html")
        %i.fa.fa-rss(aria-hidden="true")
        .text
          Blog
    /
      %li(role="presentation"){:class => ("active" if page == "talks" )}
        %a(href="talks.html")
          %i.fa.fa-microphone(aria-hidden="true")
          .text
            Invited Talks
      .nav-sep Software
      %li(role="presentation"){:class => ("active" if page == "libraries") }
        %a.tool(href="https://github.com/lsils/lstools-showcase" target="_blank")
          %i.fa.fa-wrench-o(aria-hidden="true")
          .text
            EPFL Logic Synthesis Libraries
      %li(role="presentation"){:class => ("active" if page == "cirkit" )}
        %a.tool(href="cirkit.html")
          %i.fa.fa-floppy-o(aria-hidden="true")
          .text
            CirKit
      %li(role="presentation"){:class => ("active" if page == "revkit" )}
        %a.tool(href="revkit.html")
          %i.fa.fa-floppy-o(aria-hidden="true")
          .text
            RevKit
      %li
        .sub
          %a(href="benchmarks.html") benchmarks
