.subnav
  %a(href="#journals" aria-controls="journals" role="tab" data-toggle="tab") Journal Articles
  %br
  %a(href="#conferences" aria-controls="conferences" role="tab" data-toggle="tab") Conference Papers
  %br
  %a(href="#books" aria-controls="books" role="tab" data-toggle="tab") Books
