.col-md-3#left-column
  %center
    %img#nav-picture(src="images/nav-picture2.jpg")
  %ul.nav.nav-pills.nav-stacked
    %li(role="presentation"){:class => ("active" if page == "index" )}
      %a(href="index.html") About me
    %li(role="presentation"){:class => ("active" if page == "research" )}
      %a(href="research.html") Research
    %li(role="presentation"){:class => ("active" if page == "teaching" )}
      %a(href="teaching.html") Teaching
    %li(role="presentation"){:class => ("active" if page == "publications" )}
      %a(href="publications.html") Publications
      = Haml::Engine.new(File.read( '_nav_publications.haml' )).render( Object.new ) if page == "publications"
    %li(role="presentation"){:class => ("active" if page == "cirkit" )}
      %a(href="cirkit.html") CirKit
    /
      %li(role="presentation")
        %a(href="#") RevKit
  %center
    %img#epfl-logo(src="images/epfl.svg")
