%li.list-group-item
  The article
  %a(href="publications.html#j21") Logic synthesis for established and emerging computing
  got accepted for publication in
  %i Proceedings of the IEEE.
  %a.badge(href="publications.html") publication
%li.list-group-item
  The paper
  %a(href="publications.html#c104") Structural rewriting in XOR-majority graphs
  has been accepted by the ASP-DAC 2019 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  I am organizing the tutorial
  %a(href="https://iccad.com/event_details?id=263-6-E" target="_blank") Majority logic synthesis
  with Luca Gaetano Amarù, Eleonora Testa, Miguel Couceiro, Odysseas Zografos
  in San Diego, CA, USA at the ICCAD 2018 conference.
  %a.badge(href="#") tutorial
%li.list-group-item
  The article
  %a(href="publications.html#j20") LUT-based hierarchical reversible logic synthesis
  got accepted for publication in
  %i IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems.
  %a.badge(href="publications.html") publication
%li.list-group-item
  The articles
  %ul
    %li
      %a(href="publications.html#j19") Pairs of majority-decomposing functions
    %li
      %a(href="publications.html#j18") The complexity of error metric
  got accepted for publication in
  %i Information Processing Letters.
  %a.badge(href="publications.html") publication
%li.list-group-item
  The paper
  %a(href="publications.html#c102") Size optimization of MIGs with an application to QCA and STMG technologies
  has been accepted by the NANOARCH 2018 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The papers
  %ul
    %li
      %a(href="publications.html#c101") Quantum circuits for floating-point arithmetic
    %li
      %a(href="publications.html#c100") SAT-based {CNOT, T} quantum circuit synthesis
  have been accepted by the RC 2018 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The papers
  %ul
    %li
      %a(href="publications.html#c99") SAT based exact synthesis using DAG topology families
    %li
      %a(href="publications.html#c98") Canonical computation without canonical representation
  have been accepted by the DAC 2018 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The papers
  %ul
    %li
      %a(href="publications.html#c97") A spectral algorithm for ternary function classification
    %li
      %a(href="publications.html#c96") Translating between the roots of identity in quantum circuits
  have been accepted by the ISMVL 2018 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The paper
  %a(href="publications.html#c95") Deep learning for logic optimization algorithms
  has been accepted by the ISCAS 2018 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The papers
  %ul
    %li
      %a(href="publications.html#c94") Programming quantum computers using design automation (invited executive session)
    %li
      %a(href="publications.html#c93") Practical exact synthesis (invited executive session)
    %li
      %a(href="publications.html#c92") Improvements to Boolean resynthesis
  have been accepted by the DATE 2018 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The papers
  %ul
    %li
      %a(href="publications.html#c91") A best-fit mapping algorithm to facilitate ESOP-decomposition in Clifford+T quantum network synthesis
    %li
      %a(href="publications.html#c90") Functional decomposition using majority
  have been accepted by the ASP-DAC 2018 conference.
  %a.badge(href="publications.html#conferences") publication
