%li.list-group-item
  The paper
  %a(href="publications.html#c120") Improved quantum circuits for elliptic curve discrete logarithms
  has been accepted by the PQCrypto 2020 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The paper
  %a(href="publications.html#c119") A logic synthesis toolbox for reducing the multiplicative complexity in logic networks
  has been accepted by the DATE 2020 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The paper
  %a(href="publications.html#c118") A hybrid spectral method for checking Boolean function equivalence
  has been accepted by the PACRIM 2019 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The paper
  %a(href="publications.html#c117") The role of multiplicative complexity in compiling low T-count oracle circuits
  has been accepted by the ICCAD 2019 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The papers
  %ul
    %li
      %a(href="publications.html#c116") Using ZDDs in the mapping of quantum circuits
    %li
      %a(href="publications.html#c115") ROS: Resource-constrained oracle synthesis for quantum computers
  have been accepted by the QPL 2019 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The papers
  %ul
    %li
      %a(href="publications.html#c114") Reducing the multiplicative complexity in logic networks for cryptography and security applications
    %li
      %a(href="publications.html#c113") Scalable generic logic synthesis: one approach to rule them all
  have been accepted by the DAC 2019 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The article
  %a(href="publications.html#j22") LUT-based hierarchical reversible logic synthesis
  got accepted for publication in
  %i IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems.
  %a.badge(href="publications.html") publication
%li.list-group-item
  The articles
  %ul
    %li
      %a(href="publications.html#j25") Advanced functional decomposition using majority and its applications
    %li
      %a(href="publications.html#j24") SAT-based exact synthesis: encodings, topology families, and parallelism
  got accepted for publication in
  %i IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems.
  %a.badge(href="publications.html") publication
%li.list-group-item
  The article
  %a(href="publications.html#j21") Mapping monotone Boolean functions into majority
  got accepted for publication in
  %i IEEE Transactions on Computer.
  %a.badge(href="publications.html") publication
%li.list-group-item
  The article
  %a(href="publications.html#j20") Logic synthesis for established and emerging computing
  got accepted for publication in
  %i Proceedings of the IEEE.
  %a.badge(href="publications.html") publication
%li.list-group-item
  The article
  %a(href="publications.html#j23") Boolean satisfiability in quantum compilation
  got accepted for publication in
  %i Philosophical Transactions of the Royal Society A.
  %a.badge(href="publications.html") publication
%li.list-group-item
  The papers
  %ul
    %li
      %a(href="publications.html#c122") Symbolic algorithms for token swapping
    %li
      %a(href="publications.html#c121") Automatic uniform quantum state preparation using decision diagrams
  have been accepted by the ISMVL 2020 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The paper
  %a(href="publications.html#c120") Improved quantum circuits for elliptic curve discrete logarithms
  has been accepted by the PQCrypto 2020 conference.
  %a.badge(href="publications.html#conferences") publication
