%li.list-group-item
  The article
  %a(href="publications.html#j28") Quantum programming languages
  got accepted for publication in
  %i Nature Reviews Physics.
  %a.badge(href="publications.html") publication
%li.list-group-item
  The article
  %a(href="publications.html#j27") Three-input gates for logic synthesis
  got accepted for publication in
  %i IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems.
  %a.badge(href="publications.html") publication
%li.list-group-item
  The papers
  %ul
    %li
      %a(href="publications.html#c121") Multiplier architectures: challenges and opportunities with plasmonic-based logic (special session)
    %li
      %a(href="publications.html#c120") Exact DAG-aware rewriting
    %li
      %a(href="publications.html#c119") A logic synthesis toolbox for reducing the multiplicative complexity in logic networks
  have been accepted by the DATE 2020 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The paper
  %a(href="publications.html#c122") Improved quantum circuits for elliptic curve discrete logarithms
  has been accepted by the PQCrypto 2020 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The articles
  %ul
    %li
      %a(href="publications.html#j25") Advanced functional decomposition using majority and its applications
    %li
      %a(href="publications.html#j24") SAT-based exact synthesis: encodings, topology families, and parallelism
  got accepted for publication in
  %i IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems.
  %a.badge(href="publications.html") publication
%li.list-group-item
  The papers
  %ul
    %li
      %a(href="publications.html#c124") Symbolic algorithms for token swapping
    %li
      %a(href="publications.html#c123") Automatic uniform quantum state preparation using decision diagrams
  have been accepted by the ISMVL 2020 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The article
  %a(href="publications.html#j20") Logic synthesis for established and emerging computing
  got accepted for publication in
  %i Proceedings of the IEEE.
  %a.badge(href="publications.html") publication
