%li.list-group-item
  The paper
  %a(href="publications.html#c69") Heuristic NPN classification for large functions using AIGs and LEXSAT
  has been accepted by the SAT 2016 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The papers
  %ul
    %li
      %a(href="publications.html#c68") Enumeration of reversible functions and its application to circuit complexity
    %li
      %a(href="publications.html#c67") A fast symbolic transformation based algorithm for reversible logic synthesis
  have been accepted by the RC 2016 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The paper
  %a(href="publications.html#c66") Approximate BDD optimization with prioritized ε-preferred evolutionary algorithm
  has been accepted by the GECCO 2016 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The article
  %a(href="publications.html#j12") Time-resolved detection of diffusion limited temperature gradients inside single isolated burning droplets using rainbow refractometry
  got accepted for publication in
  %i Combustion and Flame.
  %a.badge(href="publications.html") publication
%li.list-group-item
  The papers
  %ul
    %li
      %a(href="publications.html#c65") An MIG-based compiler for programmable logic-in-memory architectures
    %li
      %a(href="publications.html#c64") Unlocking efficiency and scalability of reversible logic synthesis using conventional logic synthesis
    %li
      %a(href="publications.html#c63") Precise error determination of approximated components in sequential circuits with model checking
  have been accepted by the DAC 2016 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The papers
  %ul
    %li
      %a(href="publications.html#c62") Technology mapping of reversible circuits to Clifford+T quantum circuits
    %li
      %a(href="publications.html#c61") Notes on majority Boolean algebra
  have been accepted by the ISMVL 2016 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The article
  %a(href="publications.html#j11") Complexity of reversible circuits and their quantum implementations
  got accepted for publication in
  %i Theoretical Computer Science.
  %a.badge(href="publications.html") publication
%li.list-group-item
  The paper
  %a(href="publications.html#c60") An extension of transformation-based reversible and quantum circuit synthesis
  has been accepted by the ISCAS 2016 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The paper
  %a(href="publications.html#c59") Multi-objective BDD optimization for RRAM based circuit design
  has been accepted by the DDECS 2016 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The papers
  %ul
    %li
      %a(href="publications.html#c58") Optimizing majority-inverter graphs with functional hashing
    %li
      %a(href="publications.html#c57") Fast logic synthesis for RRAM-based in-memory computing using majority-inverter graphs
    %li
      %a(href="publications.html#c56") Formal verification of integer multipliers by combining Gröbner basis with logic reduction
  have been accepted by the DATE 2016 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The paper
  %a(href="publications.html#c55") Dynamic NoC buffer allocation for MPSoC timing side channel attack protection
  has been accepted by the LASCAS 2016 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The article
  %a(href="publications.html#j10") Atomic distributions in crystal structures solved by Boolean satisfiability techniques
  got accepted for publication in
  %i Zeitschrift für Kristallographie - Crystalline Materials.
  %a.badge(href="publications.html") publication
%li.list-group-item
  The paper
  %a(href="publications.html#c54") BDD minimization for approximate computing
  has been accepted by the ASP-DAC 2016 conference.
  %a.badge(href="publications.html#conferences") publication
