%li.list-group-item
  The paper
  %a(href="publications.html#c118") A hybrid spectral method for checking Boolean function equivalence
  has been accepted by the PACRIM 2019 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The paper
  %a(href="publications.html#c117") The role of multiplicative complexity in compiling low T-count oracle circuits
  has been accepted by the ICCAD 2019 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The papers
  %ul
    %li
      %a(href="publications.html#c116") Using ZDDs in the mapping of quantum circuits
    %li
      %a(href="publications.html#c115") ROS: Resource-constrained oracle synthesis for quantum computers
  have been accepted by the QPL 2019 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The papers
  %ul
    %li
      %a(href="publications.html#c114") Reducing the multiplicative complexity in logic networks for cryptography and security applications
    %li
      %a(href="publications.html#c113") Scalable generic logic synthesis: one approach to rule them all
  have been accepted by the DAC 2019 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The papers
  %ul
    %li
      %a(href="publications.html#c112") Scaling-up ESOP synthesis for quantum compilation
    %li
      %a(href="publications.html#c111") Reversible pebble games for reducing qubits in hierarchical quantum circuit synthesis
  have been accepted by the ISMVL 2019 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The paper
  %a(href="publications.html#c110") Exact synthesis of Boolean functions in majority-of-five forms
  has been accepted by the ISCAS 2019 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The article
  %a(href="publications.html#j22") LUT-based hierarchical reversible logic synthesis
  got accepted for publication in
  %i IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems.
  %a.badge(href="publications.html") publication
%li.list-group-item
  The articles
  %ul
    %li
      %a(href="publications.html#j24") Advanced functional decomposition using majority and its applications
    %li
      %a(href="publications.html#j23") SAT-based exact synthesis: encodings, topology families, and parallelism
  got accepted for publication in
  %i IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems.
  %a.badge(href="publications.html") publication
%li.list-group-item
  The article
  %a(href="publications.html#j21") Mapping monotone Boolean functions into majority
  got accepted for publication in
  %i IEEE Transactions on Computer.
  %a.badge(href="publications.html") publication
%li.list-group-item
  The papers
  %ul
    %li
      %a(href="publications.html#c109") Compiling permutations for superconducting QPUs
    %li
      %a(href="publications.html#c108") Reversible pebbling game for quantum memory management
    %li
      %a(href="publications.html#c107") Scalable Boolean methods in a modern synthesis flow
    %li
      %a(href="publications.html#c106") On-the-fly and DAG-aware: Rewriting Boolean networks with exact synthesis
  have been accepted by the DATE 2019 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The article
  %a(href="publications.html#j20") Logic synthesis for established and emerging computing
  got accepted for publication in
  %i Proceedings of the IEEE.
  %a.badge(href="publications.html") publication
%li.list-group-item
  The paper
  %a(href="publications.html#c105") Structural rewriting in XOR-majority graphs
  has been accepted by the ASP-DAC 2019 conference.
  %a.badge(href="publications.html#conferences") publication
