%li.list-group-item
  The paper
  %a(href="publications.html#c83") Classifying functions with exact synthesis
  has been accepted by the ISMVL 2017 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The article
  %a(href="publications.html#j15") Exact synthesis of majority-inverter graphs and its applications
  got accepted for publication in
  %i IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems.
  %a.badge(href="publications.html") publication
%li.list-group-item
  The papers
  %ul
    %li
      %a(href="publications.html#c82") Wave pipelining for majority-based beyond-CMOS technologies (invited special session)
    %li
      %a(href="publications.html#c81") Design automation and design space exploration for quantum computers
    %li
      %a(href="publications.html#c80") Busy Man's Synthesis: Combinational delay optimization with SAT
    %li
      %a(href="publications.html#c79") Endurance management for resistive logic-in-memory computing architectures
  have been accepted by the DATE 2017 conference.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The papers
  %ul
    %li
      %a(href="publications.html#c78") Multi-level logic benchmarks: An exactness study
    %li
      %a(href="publications.html#c77") A novel basis for logic rewriting
  have been accepted by the ASP-DAC 2017 conference.
  %a.badge(href="publications.html#conferences") publication
