
.item
  .pubmain
    .pubassets
      %a(href="http://arxiv.org/abs/1612.00631" data-toggle="tooltip" data-placement="top" title="Open webpage" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a(href="http://arxiv.org/pdf/1612.00631" data-toggle="tooltip" data-placement="top" title="View PDF" target="_blank")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="http://arxiv.org/pdf/1612.00631" target="_blank")
      %img.pubthumb(src="images/thumbs/arxiv_1612.00631.png")
    %h4.pubtitle#p7 Design automation and design space exploration for quantum computers
    .pubauthor
      %strong Mathias Soeken,
      Martin Roetteler,
      Nathan Wiebe,
      Giovanni De Micheli
    .pubcite
      %span.label.label-danger Preprint 7
      arXiv:1612.00631 | December 2016
      |
      %a(href="publications.html#c81") Reference
      | Comments: 6 pages, 1 figure | Subjects: quant-ph; cs.ET

.item
  .pubmain
    .pubassets
      %a(href="http://arxiv.org/abs/1503.08579" data-toggle="tooltip" data-placement="top" title="Open webpage" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a(href="http://arxiv.org/pdf/1503.08579" data-toggle="tooltip" data-placement="top" title="View PDF" target="_blank")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="http://arxiv.org/pdf/1503.08579" target="_blank")
      %img.pubthumb(src="images/thumbs/arxiv_1503.08579.png")
    %h4.pubtitle#p6 Translating between the roots of identity in quantum circuits
    .pubauthor
      Wouter Castryck,
      Jeroen Demeyer,
      Alexis De Vos,
      Oliver Keszocze,
      %strong Mathias Soeken
    .pubcite
      %span.label.label-danger Preprint 6
      arXiv:1503.08579 | March 2015
      | Comments: 7 pages | Subjects: quant-ph; math.GR

.item
  .pubmain
    .pubassets
      %a(href="http://arxiv.org/abs/1502.05825" data-toggle="tooltip" data-placement="top" title="Open webpage" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a(href="http://arxiv.org/pdf/1502.05825" data-toggle="tooltip" data-placement="top" title="View PDF" target="_blank")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="http://arxiv.org/pdf/1502.05825" target="_blank")
      %img.pubthumb(src="images/thumbs/arxiv_1502.05825.png")
    %h4.pubtitle#p5 Self-inverse functions and palindromic circuits
    .pubauthor
      %strong Mathias Soeken,
      Michael Kirkedal Thomsen,
      Gerhard W. Dueck,
      D. Michael Miller
    .pubcite
      %span.label.label-danger Preprint 5
      arXiv:1502.05825 | Feburary 2015
      | Comments: 6 pages, 3 figures | Subjects: cs.ET; math.GR; quant-ph

.item
  .pubmain
    .pubassets
      %a(href="http://arxiv.org/abs/1408.3955" data-toggle="tooltip" data-placement="top" title="Open webpage" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a(href="http://arxiv.org/pdf/1408.3955" data-toggle="tooltip" data-placement="top" title="View PDF" target="_blank")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="http://arxiv.org/pdf/1408.3955" target="_blank")
      %img.pubthumb(src="images/thumbs/arxiv_1408.3955.png")
    %h4.pubtitle#p4 Ancilla-free synthesis of large reversible functions using binary decision diagrams
    .pubauthor
      %strong Mathias Soeken,
      Laura Tague,
      Gerhard W. Dueck,
      Rolf Drechsler
    .pubcite
      %span.label.label-danger Preprint 4
      arXiv:1408.3955 | August 2014
      |
      %a(href="publications.html#j8") Reference
      | Comments: 25 pages, 15 figures | Subjects: cs.ET; quant-ph

.item
  .pubmain
    .pubassets
      %a(href="http://arxiv.org/abs/1408.3586" data-toggle="tooltip" data-placement="top" title="Open webpage" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a(href="http://arxiv.org/pdf/1408.3586" data-toggle="tooltip" data-placement="top" title="View PDF" target="_blank")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="http://arxiv.org/pdf/1408.3586" target="_blank")
      %img.pubthumb(src="images/thumbs/arxiv_1408.3586.png")
    %h4.pubtitle#p3 Embedding of large Boolean functions for reversible logic
    .pubauthor
      %strong Mathias Soeken,
      Robert Wille,
      Oliver Keszocze,
      D. Michael Miller,
      Rolf Drechsler
    .pubcite
      %span.label.label-danger Preprint 3
      arXiv:1408.3586 | August 2014
      |
      %a(href="publications.html#j7") Reference
      | Comments: 13 pages, 10 figures | Subjects: cs.ET

.item
  .pubmain
    .pubassets
      %a(href="http://arxiv.org/abs/1407.5878" data-toggle="tooltip" data-placement="top" title="Open webpage" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a(href="http://arxiv.org/pdf/1407.5878" data-toggle="tooltip" data-placement="top" title="View PDF" target="_blank")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="http://arxiv.org/pdf/1407.5878" target="_blank")
      %img.pubthumb(src="images/thumbs/arxiv_1407.5878.png")
    %h4.pubtitle#p2 A framework for reversible circuit complexity
    .pubauthor
      %strong Mathias Soeken,
      Nabila Abdessaied,
      Rolf Drechsler
    .pubcite
      %span.label.label-danger Preprint 2
      arXiv:1407.5878 | July 2014
      | Comments: 6 pages, 4 figures, accepted for Int'l Workshop on Boolean Problems 2014 | Subjects: cs.ET; quant-ph

.item
  .pubmain
    .pubassets
      %a(href="http://arxiv.org/abs/1308.2493" data-toggle="tooltip" data-placement="top" title="Open webpage" target="_blank")
        %span.glyphicon.glyphicon-new-window
      %a(href="http://arxiv.org/pdf/1308.2493" data-toggle="tooltip" data-placement="top" title="View PDF" target="_blank")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="http://arxiv.org/pdf/1308.2493" target="_blank")
      %img.pubthumb(src="images/thumbs/arxiv_1308.2493.png")
    %h4.pubtitle#p1 On quantum circuits employing roots of the Pauli matrices
    .pubauthor
      %strong Mathias Soeken,
      D. Michael Miller,
      Rolf Drechsler
    .pubcite
      %span.label.label-danger Preprint 1
      arXiv:1308.2493 | August 2013
      |
      %a(href="publications.html#j3") Reference
      | Comments: 7 pages, 1 figure | Subjects: quant-ph; cs.ET
