%p These workshop papers are peer-reviewed and have been presented at events, where the proceedings where distributed only among the participants.  If you are interested in one of the listed papers, please send me an eMail and I am happy to share the PDF.
%h4 2017
.item
  .pubmain
    %h4.pubtitle#w31
      Deep learning for logic optimization
    .pubauthor
      Winston Haaswijk,
      Edo Collins,
      Benoit Seguin,
      %strong Mathias Soeken,
      Sabine Süsstrunk,
      Frédéric Kaplan,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Workshop Paper 31
      In International Workshop on Logic Synthesis (IWLS) | Austin, TX, USA, July 2017 | Publisher: 
.item
  .pubmain
    %h4.pubtitle#w30
      Functional decomposition using majority
    .pubauthor
      Zhufei Chu,
      %strong Mathias Soeken,
      Yinshui Xia,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Workshop Paper 30
      In International Workshop on Logic Synthesis (IWLS) | Austin, TX, USA, July 2017 | Publisher: 
.item
  .pubmain
    %h4.pubtitle#w29
      Exact synthesis for logic synthesis applications with complex constraints
    .pubauthor
      Eleonora Testa,
      %strong Mathias Soeken,
      Odysseas Zografos,
      Francky Catthoor,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Workshop Paper 29
      In International Workshop on Logic Synthesis (IWLS) | Austin, TX, USA, July 2017 | Publisher: 
.item
  .pubmain
    %h4.pubtitle#w28
      SAT-based optimization with don't-cares revisited
    .pubauthor
      Alan Mishchenko,
      Robert K. Brayton,
      Ana Petkovska,
      %strong Mathias Soeken
    .pubcite
      %span.label.label-warning Workshop Paper 28
      In International Workshop on Logic Synthesis (IWLS) | Austin, TX, USA, July 2017 | Publisher: 
.item
  .pubmain
    %h4.pubtitle#w27
      A compiler for parallel and resource-constrained programmable in-memory computing
    .pubauthor
      Giulia Meuli,
      %strong Mathias Soeken,
      Pierre-Emmanuel Gaillardon,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Workshop Paper 27
      In International Workshop on Logic Synthesis (IWLS) | Austin, TX, USA, July 2017 | Publisher: 
.item
  .pubmain
    %h4.pubtitle#w26
      Cut generation for reverse engineering of gate-level netlists
    .pubauthor
      Baruch Sterin,
      %strong Mathias Soeken,
      Giovanni De Micheli,
      Robert K. Brayton
    .pubcite
      %span.label.label-warning Workshop Paper 26
      In International Workshop on Logic Synthesis (IWLS) | Austin, TX, USA, July 2017 | Publisher: 
.item
  .pubmain
    %h4.pubtitle#w25
      Boolean function classification with δ-swaps
    .pubauthor
      %strong Mathias Soeken,
      Ina Kodrasi,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Workshop Paper 25
      In Reed-Muller Workshop (RM) | Novi Sad, Serbia, May 2017 | Publisher: 
%h4 2016
.item
  .pubmain
    %h4.pubtitle#w24
      On the computational complexity of error metrics in approximate computing
    .pubauthor
      Oliver Keszocze,
      %strong Mathias Soeken,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Workshop Paper 24
      In International Workshop on Boolean Problems (IWSBP) | Freiberg, Germany, September 2016 | Publisher: 
.item
  .pubmain
    %h4.pubtitle#w23
      LUT mapping and optimization for majority-inverter graphs
    .pubauthor
      Winston Haaswijk,
      %strong Mathias Soeken,
      Luca Gaetano Amarù,
      Pierre-Emmanuel Gaillardon,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Workshop Paper 23
      In International Workshop on Logic Synthesis (IWLS) | Austin, TX, USA, July 2016 | Publisher: 
.item
  .pubmain
    %h4.pubtitle#w22
      SAT-based functional dependency computation
    .pubauthor
      %strong Mathias Soeken,
      Pascal Raiola,
      Baruch Sterin,
      Matthias Sauer
    .pubcite
      %span.label.label-warning Workshop Paper 22
      In International Workshop on Logic Synthesis (IWLS) | Austin, TX, USA, July 2016 | Publisher: 
.item
  .pubmain
    %h4.pubtitle#w21
      Inversion minimization in majority-inverter graphs
    .pubauthor
      Eleonora Testa,
      %strong Mathias Soeken,
      Luca Gaetano Amarù,
      Pierre-Emmanuel Gaillardon,
      Giovanni De Micheli
    .pubcite
      %span.label.label-warning Workshop Paper 21
      In International Workshop on Logic Synthesis (IWLS) | Austin, TX, USA, July 2016 | Publisher: 
.item
  .pubmain
    %h4.pubtitle#w20
      Fast generation of lexicographic satisfiable assignments: enabling canonicity in SAT-based applications
    .pubauthor
      Ana Petkovska,
      Alan Mishchenko,
      %strong Mathias Soeken,
      Giovanni De Micheli,
      Robert K. Brayton,
      Paolo Ienne
    .pubcite
      %span.label.label-warning Workshop Paper 20
      In International Workshop on Logic Synthesis (IWLS) | Austin, TX, USA, July 2016 | Publisher: 
.item
  .pubmain
    %h4.pubtitle#w19
      Symbolic error metric determination for approximate computing
    .pubauthor
      Arun Chandrasekharan,
      Daniel Große,
      %strong Mathias Soeken,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Workshop Paper 19
      In Methoden und Beschreibungssprachen zur Modellierung und Verifikation von Schaltungen und Systemen (MBMV) | Freiburg, Germany, March 2016 | Pages 75&ndash;76 | Publisher: 
%h4 2015
.item
  .pubmain
    %h4.pubtitle#w18
      Simulation graphs for reverse engineering
    .pubauthor
      Baruch Sterin,
      %strong Mathias Soeken,
      Rolf Drechsler,
      Robert K. Brayton
    .pubcite
      %span.label.label-warning Workshop Paper 18
      In International Workshop on Logic Synthesis (IWLS) | Mountain View, CA, USA, July 2015 | Publisher: 
.item
  .pubmain
    %h4.pubtitle#w17
      Self-inverse functions and palindromic circuits
    .pubauthor
      %strong Mathias Soeken,
      Michael Kirkedal Thomsen,
      Gerhard W. Dueck,
      D. Michael Miller
    .pubcite
      %span.label.label-warning Workshop Paper 17
      In Reed-Muller Workshop (RM) | Waterloo, ON, Canada, May 2015 | Publisher: 
%h4 2014
.item
  .pubmain
    %h4.pubtitle#w16
      Coverage at the formal specification level
    .pubauthor
      Rolf Drechsler,
      Julia Seiter,
      %strong Mathias Soeken
    .pubcite
      %span.label.label-warning Workshop Paper 16
      In International Workshop on Design and Implementation of Formal Tools and Systems (DIFTS) | Lausanne, Switzerland, October 2014 | Publisher: 
.item
  .pubmain
    %h4.pubtitle#w15
      A framework for reversible circuit complexity
    .pubauthor
      %strong Mathias Soeken,
      Nabila Abdessaied,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Workshop Paper 15
      In International Workshop on Boolean Problems (IWSBP) | Freiberg, Germany, September 2014 | Publisher: 
.item
  .pubmain
    %h4.pubtitle#w14
      Towards a multi-dimensional and dynamic visualization for ESL designs
    .pubauthor
      Julia Seiter,
      Marc Michael,
      %strong Mathias Soeken,
      Robert Wille,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Workshop Paper 14
      In DATE Friday Workshop: Design Automation for Understanding Hardware Designs (DUHDe) | Dresden, Germany, March 2014 | Publisher: 
.item
  .pubmain
    %h4.pubtitle#w13
      Formale Methoden für Alle
    .pubauthor
      %strong Mathias Soeken,
      Max Nitze,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Workshop Paper 13
      In Methoden und Beschreibungssprachen zur Modellierung und Verifikation von Schaltungen und Systemen (MBMV) | Böblingen, Germany, March 2014 | Pages 213&ndash;216 | Publisher: 
%h4 2013
.item
  .pubmain
    %h4.pubtitle#w12
      Law-based verification of complex swarm systems
    .pubauthor
      Rolf Drechsler,
      Hoang M. Le,
      %strong Mathias Soeken,
      Robert Wille
    .pubcite
      %span.label.label-warning Workshop Paper 12
      In International Workshop on the Swarm at the Edge of the Cloud (SEC) | Montreal, QC, Canada, September 2013 | Publisher: 
.item
  .pubmain
    %h4.pubtitle#w11
      lips: An IDE for model driven engineering based on natural language processing
    .pubauthor
      Oliver Keszocze,
      %strong Mathias Soeken,
      Eugen Kuksa,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Workshop Paper 11
      In International Workshop on Natural Language Analysis in Software Engineering (NaturaLiSE) | San Francisco, CA, USA, May 2013 | Publisher: 
.item
  .pubmain
    %h4.pubtitle#w10
      Generierung von OCL-Ausdrücken aus natürlichsprachlichen Beschreibungen
    .pubauthor
      %strong Mathias Soeken,
      Robert Wille,
      Eugen Kuksa,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Workshop Paper 10
      In Methoden und Beschreibungssprachen zur Modellierung und Verifikation von Schaltungen und Systemen (MBMV) | Rostock, Germany, March 2013 | Pages 99-103 | Publisher: 
%h4 2012
.item
  .pubmain
    %h4.pubtitle#w9
      Verification of embedded systems using modeling and implementation languages
    .pubauthor
      %strong Mathias Soeken,
      Heinz Riener,
      Robert Wille,
      Görschwin Fey,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Workshop Paper 9
      In International Workshop on and Code Generation for Embedded Systems (MeCoES) | Tampere, Finland, October 2012 | Pages 67&ndash;72 | Publisher: 
.item
  .pubmain
    %h4.pubtitle#w8
      Towards embedding of large functions for reversible logic
    .pubauthor
      %strong Mathias Soeken,
      Robert Wille,
      Laura Tague,
      D. Michael Miller,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Workshop Paper 8
      In International Workshop on Boolean Problems (IWSBP) | Freiberg, Germany, September 2012 | Publisher: 
%h4 2011
.item
  .pubmain
    %h4.pubtitle#w7
      Synthesis of reversible circuits with minimal lines for large functions
    .pubauthor
      %strong Mathias Soeken,
      Robert Wille,
      Nils Przigoda,
      Christoph Hilken,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Workshop Paper 7
      In Workshop on Reversible Computation (RC) | Ghent, Belgium, July 2011 | Pages 59&ndash;70 | Publisher: Springer
.item
  .pubmain
    %h4.pubtitle#w6
      Customized design flows for reversible circuits using RevKit
    .pubauthor
      %strong Mathias Soeken,
      Stefan Frehse,
      Robert Wille,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Workshop Paper 6
      In Workshop on Reversible Computation (RC) | Ghent, Belgium, July 2011 | Pages 91&ndash;96 | Publisher: Springer
.item
  .pubmain
    %h4.pubtitle#w5
      Designing a RISC CPU in reversible logic
    .pubauthor
      Robert Wille,
      %strong Mathias Soeken,
      Daniel Große,
      Eleonora Schönborn,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Workshop Paper 5
      In Methoden und Beschreibungssprachen zur Modellierung und Verifikation von Schaltungen und Systemen (MBMV) | Oldenburg, Germany, March 2011 | Pages 249&ndash;258 | Publisher: 
.item
  .pubmain
    %h4.pubtitle#w4
      Towards automatic property generation for the formal verification of bus bridges
    .pubauthor
      %strong Mathias Soeken,
      Ulrich Kühne,
      Martin Freibothe,
      Görschwin Fey,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Workshop Paper 4
      In Methoden und Beschreibungssprachen zur Modellierung und Verifikation von Schaltungen und Systemen (MBMV) | Oldenburg, Germany, March 2011 | Pages 183&ndash;192 | Publisher: 
%h4 2010
.item
  .pubmain
    %h4.pubtitle#w3
      RevKit: A toolkit for reversible circuit design
    .pubauthor
      %strong Mathias Soeken,
      Stefan Frehse,
      Robert Wille,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Workshop Paper 3
      In Workshop on Reversible Computation (RC) | Bremen, Germany, July 2010 | Pages 69-72 | Publisher: Springer
.item
  .pubmain
    %h4.pubtitle#w2
      Hierachical synthesis of reversible circuits using positive and negative Davio decomposition
    .pubauthor
      %strong Mathias Soeken,
      Robert Wille,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Workshop Paper 2
      In Workshop on Reversible Computation (RC) | Bremen, Germany, July 2010 | Pages 55&ndash;58 | Publisher: Springer
.item
  .pubmain
    %h4.pubtitle#w1
      Verifying UML/OCL models using Boolean satisfiability
    .pubauthor
      %strong Mathias Soeken,
      Robert Wille,
      Mirko Kuhlmann,
      Martin Gogolla,
      Rolf Drechsler
    .pubcite
      %span.label.label-warning Workshop Paper 1
      In Methoden und Beschreibungssprachen zur Modellierung und Verifikation von Schaltungen und Systemen (MBMV) | Dresden, Germany, March 2010 | Pages 57&ndash;66 | Publisher: 
