!!! 5
%html
  %head
    = Haml::Engine.new(File.read('_header.haml')).render(Object.new, :title => 'Mathias Soeken / Quantum Oracle Circuits and the Christmas Tree Pattern')
  %body
    .container#main-container
      .row#main-row
        = Haml::Engine.new(File.read('_nav.haml')).render(Object.new, :page => "blog")
        .col-md-9.block
          %h1 Blog
          .pitems
            .pitem
              .pubmain(style="min-height:0px")
                %a(href="blog_qac.html")
                  %h4.pubtitle Quantum Oracle Circuits and the Christmas Tree Pattern
                .project-description
                  December 19, 2018, written for the
                  %a(href="https://blogs.msdn.microsoft.com/visualstudio/2018/11/15/q-advent-calendar-2018/" target="_blank") Q# Advent Calendar
                .project-description
                  %i
                    The article is about decorating Christmas trees using the rotation gate complexity in oracle function synthesis.
