!!! 5
%html
  %head
    = Haml::Engine.new(File.read('_header.haml')).render(Object.new, :title => 'Mathias Soeken / CirKit Showcase')
    %link(href="css/highlight.css" rel="stylesheet")
    %script(src="js/highlight.js")
    %script(src="js/cirkit_highlight.js")

    %link(href="css/doc.css" rel="stylesheet")

  %body
    .container#main-container
      .row#main-row
        = Haml::Engine.new(File.read('_nav.haml')).render(Object.new, :page => "cirkit")
        .col-md-9.block
          %h1 CirKit Showcase
          %p
            This page lists some usage examples of CirKit to demonstrate its possibiilities.
          %h3
            Tweaking
            %kbd show
            for Mac
          %p
            The command
            %kbd show
            defaults to
            %code xdg-open
            as program to open the generated GraphViz files.  Mac lacks both this program and a good viewer for GraphViz files.
            A workaround is to create a PNG file with
            %code dot
            and then open the PNG file instead.  There are several ways to do this, but the most convenient is to set the CirKit variable
            %code show_dotcmd
            using
            %kbd set
            :plain
              .
            A good place to set this variable is in the
            %code alias
            file such that it is loaded on start up (if you use the alias file, remember to set the
            %code CIRKIT_HOME
            environment variable to the CirKit directory).
            We add the following line to the
            %code alias
            file:
          %pre
            :preserve
              set show_dotcmd "dot -Tpng %s > /tmp/test.png; open /tmp/test.png"
          %p
            Now in a program as the following, a PNG file is created and opened in a
            %code Preview
            window.
          %pre
            %code.cirkit
              :preserve
                cirkit> expr <[a!b]bc>
                cirkit> expr > xmg
                cirkit> show -x
          %p
            If you happen to use
            %code iTerm2
            together with the
            %code imgcat
            extension, you can use it to directly display the PNG file in the terminal. Just use the following as
            %code dotcmd
          %pre
            :preserve
              set show_dotcmd "dot -Tpng %s > /tmp/test.png; imgcat /tmp/test.png"
    %script(src="js/jquery.min.js")
    %script(src="js/cirkit_doc.js")
