!!! 5
%html
  %head
    = Haml::Engine.new(File.read('_header.haml')).render(Object.new, :title => 'Mathias Soeken / CirKit')
    %link(href="css/doc.css" rel="stylesheet")
  %body
    .container#main-container
      .row#main-row
        = Haml::Engine.new(File.read('_nav.haml')).render(Object.new, :page => "cirkit")
        .col-md-9
          %a(href="https://github.com/msoeken/cirkit" target="_blank")
            %img(style="position: absolute; top: 0; right: 0; border: 0" src="images/ribbon.png" alt="Fork me on GitHub")
          %h1 CirKit
          %p(style="width:95%")
            CirKit is an open source C++ logic synthesis framework.
            It offers a command line interface application similar to SIS or ABC.
            It is based on the logic synthesis libraries
            %a(href="https://github.com/lsils/mockturtle") mockturtle
            for logic networks, and
            %a(href="https://github.com/msoeken/kitty") kitty
            for truth table representation and manipulation.
            It uses
            %a(href="https://github.com/msoeken/alice" target="_blank") alice
            to create commands for the command line interface and to expose a Python interface.
          %h3 Download CirKit
          %a(href="http://github.com/msoeken/cirkit" target="_blank") github.com/msoeken/cirkit
          %h3 Install CirKit
          %pre
            :preserve
              git clone --recursive https://github.com/msoeken/cirkit.git
              cd cirkit
              mkdir build
              cd build
              cmake ..
              make cirkit
              cd ..
          %h3 Run CirKit
          After a successful compilation, run
          %pre
            :preserve
              ./build/cli/cirkit
          from the main directory.
          %h3 Requirements
          %ul
            %li Linux, Mac, or Windows
            %li git
            %li cmake (at least version 3.8.0)
            %li g++ (at least version 7.3.0) or clang++ (at least version 6.0.0)
            %li GNU readline (optional)

