!!! 5
%html
  %head
    = Haml::Engine.new(File.read('_header.haml')).render(Object.new, :title => 'Mathias Soeken')
  %body
    .container#main-container
      .row#main-row
        = Haml::Engine.new(File.read('_nav.haml')).render(Object.new, :page => 'index')
        .col-md-9
          .starter-template
            %h1 Dr. Mathias Soeken
            %p.lead Researcher, EPFL, Lausanne, Switzerland
          .row
            .col-md-8
              %p(style="text-align: justify")
                Mathias Soeken works as a researcher at the
                %a(href="http://lsi.epfl.ch" target="_blank") Integrated Systems Laboratory
                at
                %b EPFL, Lausanne, Switzerland
                in the group of Giovanni De Micheli.
                From 2009 to 2015 he worked at the
                %b University of Bremen, Germany
                in the group of Rolf Drechsler.
                Since 2014, he is a regularly visiting post doc at
                %b UC Berkeley, CA, USA
                in the group of Robert K. Brayton.
                He holds a Ph.D. degree (Dr.-Ing.) in Computer Science from University of Bremen, Germany (2013).
                His research interests are logic synthesis, reverse engineering, formal verification, and quantum computing.
              %h3 News
              %ul.list-group
                = Haml::Engine.new(File.read('_news.haml')).render(Object.new)
            .col-md-4
              %h4(style="margin-top: 0px") Contact
              EPFL IC ISIM LSI1
              %br
              %a(href="http://plan.epfl.ch/?lang=en&room=INF339" target="_blank")> INF 339
              , Station 14
              %br
              CH-1015 Lausanne
              %br
              Switzerland
              %br
              %span.glyphicon.glyphicon-phone-alt
              +41 21 693 09 16
              %br
              %span.glyphicon.glyphicon-envelope
              %a(href="mailto:mathias.soeken@epfl.ch") mathias.soeken@epfl.ch
              %br
              %span.glyphicon.glyphicon-globe
              %a(href="http://lsi.epfl.ch" target="_blank") lsi.epfl.ch
              %br
              %br
              %h4 Latest CirKit commits
              %ul.list-group#commits
              %a#showcommits(href="#") show all commits
    %script(src="js/jquery.min.js")
    %script(src="js/jquery.timeago.js")
    %script(src="js/github.js")
