!!! 5
%html
  %head
    = Haml::Engine.new(File.read('_header.haml')).render(Object.new, :title => 'Mathias Soeken')
    %link(href="css/lstools.css" rel="stylesheet")
  %body
    .container#main-container
      .row#main-row
        = Haml::Engine.new(File.read('_nav.haml')).render(Object.new, :page => 'index')
        .col-md-9
          .starter-template
            %img#nav-picture(src="images/nav-picture.jpg" align="right")
            %h1 Dr. Mathias Soeken
            %p.lead Researcher, Switzerland
          .row
            .col-md-8
              %p(style="text-align: justify")
                Mathias Soeken works at the Azure Quantum team at
                %b Microsoft.
                From 2015 to 2020, he has been with
                &Eacute;cole Polytechnique F&eacute;d&eacute;rale Lausanne (EPFL), Switzerland
                as postdoctoral scientist.
                From 2009 to 2015 he worked at the
                %b University of Bremen, Germany
                and has been a regularly visiting post doc at
                %b UC Berkeley, CA, USA
                in the group of Robert K. Brayton.
                He holds a Ph.D. degree (Dr.-Ing.) in Computer Science from University of Bremen, Germany (2013).
                His research interests are logic synthesis, quantum computing, reversible logic, and formal verification.
                Mathias Soeken is member of the IEEE and of the ACM.
              %p
                %i Disclaimer: Any opinions expressed on this page and blog are mine, not those of my employer.
            .col-md-4
              %h4(style="margin-top: 0px") Contact
              %i.fa.fa-envelope(aria-hidden="true")
              %a(href="mailto:mathias.soeken@outlook.com") mathias.soeken@outlook.com
              %br
              %i.fa.fa-linkedin(aria-hidden="true")
              %a(href="https://www.linkedin.com/in/mathias-soeken-90280a122/" target="_blank") LinkedIn
              %br
              %i.fa.fa-github(aria-hidden="true")
              %a(href="https://github.com/msoeken" target="_blank") GitHub
    %script(src="js/jquery.min.js")
    %script(src="js/jquery.timeago.js")
    %script(src="js/github.js")
