!!! 5
%html
  %head
    = Haml::Engine.new(File.read('_header.haml')).render(Object.new, :title => 'Mathias Soeken')
  %body
    .container#main-container
      .row#main-row
        = Haml::Engine.new(File.read('_nav.haml')).render(Object.new, :page => 'index')
        .col-md-9
          .starter-template
            %h1 Dr. Mathias Soeken
            %p.lead Researcher, EPFL, Lausanne, Switzerland
          .row
            .col-md-8
              %p(style="text-align: justify")
                Mathias Soeken works as a researcher at the Integrated Systems Laboratory at
                %b EPFL, Lausanne, Switzerland
                in the group of Giovanni De Micheli.
                From 2009 to 2015 he worked at the
                %b University of Bremen, Germany
                in the group of Rolf Drechsler.
                Since 2014, he is a regularly visiting post doc at
                %b UC Berkeley, CA, USA
                in the group of Robert K. Brayton.
                He holds a Ph.D. degree (Dr.-Ing.) in Computer Science from University of Bremen, Germany (2013).
                His research interests are logic synthesis, reverse engineering, formal verification, and quantum computing.
            .col-md-4
              EPFL IC ISIM LSI1
              %br
              INF 339, Station 14
              %br
              CH-1015 Lausanne
              %br
              Switzerland
              %br
              %span.glyphicon.glyphicon-phone-alt
              +41 21 693 09 16
              %br
              %span.glyphicon.glyphicon-envelope
              %a(href="mailto:mathias.soeken@epfl.ch") mathias.soeken@epfl.ch
          %h3 News
          %ul.list-group
            %li.list-group-item
              Paper
              %b Optimizing majority-inverter graphs with functional hashing
              has been accepted by the DATE conference
              %span.badge publication
            %li.list-group-item
              Paper
              %b Fast logic synthesis for RRAM-based in-memory computing using majority-inverter graphs
              has been accepted by the DATE conference &ndash; congratulations to Saeideh!
              %span.badge publication
            %li.list-group-item
              Paper
              %b Formal verification of integer multipliers by combining Gröbner basis with logic reduction
              has been accepted by the DATE conference &ndash; congratulations to Amr!
              %span.badge publication
            %li.list-group-item
              Article
              %b Atomic distributions in crystal structures solved by Boolean satisfiability techniques
              got accepted for publication in
              %i Zeitschrift für Kristallographie - Crystalline Materials
              %span.badge publication
            %li.list-group-item
              Article
              %b SyReC: A Hardware Description Language for the Specification and Synthesis of Reversible Circuits
              got accepted for publication in
              %i INTEGRATION
              %span.badge publication
