!!! 5
%html
  %head
    = Haml::Engine.new(File.read('_header.haml')).render(Object.new, :title => 'Mathias Soeken / Publications')
  %body
    .container#main-container
      .row#main-row
        = Haml::Engine.new(File.read('_nav.haml')).render(Object.new, :page => "publications")
        .col-md-9
          %h1 Publications
          /
            #map(style="width:100%; height:300px")
            :javascript
              function initMap() {
                var mapOptions = {
                  zoom: 1,
                  center: new google.maps.LatLng(0,0),
                  mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById("map"), mapOptions);
              }
            %script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLj6O9WmvcmmEzbEbQ_rOsViTirPaacJ8&region=US&callback=initMap")
          %ul.nav.nav-pills(role="tablist")
            %li.active(role="presentation")
              %a(href="#journals" aria-controls="journals" role="tab" data-toggle="tab") Journal Articles
            %li(role="presentation")
              %a(href="#conferences" aria-controls="conferences" role="tab" data-toggle="tab") Conference Papers
            %li(role="presentation")
              %a(href="#books" aria-controls="books" role="tab" data-toggle="tab") Books
          .tab-content
            .tab-pane.active#journals
              .pitems
                = Haml::Engine.new(File.read('_journals.haml')).render(Object.new)
            .tab-pane#conferences
              .pitems
                = Haml::Engine.new(File.read('_conferences.haml')).render(Object.new)
            .tab-pane#books
              .pitems
                NO
          %h3 Copyright Notice
          %p
            This material is presented to ensure timely dissemination of scholarly and technical work. Copyright and all rights therein are retained by authors or by other copyright holders. All persons copying this information are expected to adhere to the terms and constraints invoked by each author's copyright. In most cases, these works may not be reposted without the explicit permission of the copyright holder.
          %p
            %i The following notice applies to all IEEE publications:
            %br
            %span.glyphicon.glyphicon-copyright-mark
            IEEE. Personal use of this material is permitted. However, permission to reprint/republish this material for advertising or promotional purposes or for creating new collective works for resale or redistribution to servers or lists, or to reuse any copyrighted component of this work in other works must be obtained from the IEEE.
    %script(src="js/jquery.min.js")
    %script(src="js/bootstrap.min.js")
    :javascript
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
