!!! 5
%html
  %head
    = Haml::Engine.new(File.read('_header.haml')).render(Object.new, :title => 'Mathias Soeken / Publications')
  %body
    .container#main-container
      .row#main-row
        = Haml::Engine.new(File.read('_nav.haml')).render(Object.new)
        .col-md-9
          %h1 Publications
          #map(style="width:100%; height:300px")
          :javascript
            function initMap() {
              var mapOptions = {
                zoom: 1,
                center: new google.maps.LatLng(0,0),
                mapTypeId: google.maps.MapTypeId.ROADMAP
              };
              var map = new google.maps.Map(document.getElementById("map"), mapOptions);
            }
          %script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLj6O9WmvcmmEzbEbQ_rOsViTirPaacJ8&region=US&callback=initMap")
          .pitems
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2008_isvlsi.png")
                %h4.pubtitle
                  Using higher levels of abstraction for solving optimization problems by Boolean satisfiability
                .pubauthor
                  Robert Wille,
                  Daniel Große,
                  Mathias Soeken,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In IEEE Computer Society Annual Symposium on VLSI (ISVLSI) | Montpellier, France, April 2008 | Pages 411--416 | Publisher: IEEE
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2010_date.png")
                %h4.pubtitle
                  Verifying UML/OCL models using Boolean satisfiability
                .pubauthor
                  Mathias Soeken,
                  Mirko Kuhlmann,
                  Robert Wille,
                  Martin Gogolla,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In Design, Automation and Test in Europe (DATE) | Dresden, Germany, March 2010 | Pages 1341-1344 | Publisher: IEEE
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2010_ddecs.png")
                %h4.pubtitle
                  Window optimization of reversible and quantum circuits
                .pubauthor
                  Mathias Soeken,
                  Robert Wille,
                  Gerhard W. Dueck,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In IEEE International Symposium on Design and Diagnostics of Electronic Circuits and Systems (DDECS) | Vienna, Austria, April 2010 | Pages 341--345 | Publisher: IEEE
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2010_dac.png")
                %h4.pubtitle
                  Reducing the number of lines in reversible circuits
                .pubauthor
                  Robert Wille,
                  Mathias Soeken,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In Design Automation Conference (DAC) | Anaheim, CA, USA, June 2010 | Pages 647--652 | Publisher: ACM/IEEE
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2010_idt.png")
                %h4.pubtitle
                  Hierarchical synthesis of reversible circuits using positive and negative davio decomposition
                .pubauthor
                  Mathias Soeken,
                  Robert Wille,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In International Test & Design Symposium (IDT) | Abu Dhabi, United Arab Emirates, December 2010 | Pages 143--148 | Publisher: IEEE
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2011_date.png")
                %h4.pubtitle
                  Verifying dynamic aspects of UML models
                .pubauthor
                  Mathias Soeken,
                  Robert Wille,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In Design, Automation and Test in Europe (DATE) | Grenoble, France, March 2011 | Pages 1077--1082 | Publisher: IEEE
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2011_rc.png")
                %h4.pubtitle
                  RevKit: An open source toolkit for the design of reversible circuits
                .pubauthor
                  Mathias Soeken,
                  Stefan Frehse,
                  Robert Wille,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In Conference on Reversible Computation (RC) | Ghent, Belgium, July 2011 | Pages 65--76 | Publisher: Springer
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2011_ismvl.png")
                %h4.pubtitle
                  Designing a RISC CPU in reversible logic
                .pubauthor
                  Robert Wille,
                  Mathias Soeken,
                  Daniel Große,
                  Eleonora Schönborn,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In International Symposium on Multiple-Valued Logic (ISMVL) | Tuusula, Finland, May 2011 | Pages 170--175 | Publisher: IEEE
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2011_ddecs.png")
                %h4.pubtitle
                  Automatic property generation for the formal verification of bus bridges
                .pubauthor
                  Mathias Soeken,
                  Ulrich Kühne,
                  Martin Freibothe,
                  Görschwin Fey,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In IEEE International Symposium on Design and Diagnostics of Electronic Circuits and Systems (DDECS) | Cottbus, Germany, April 2011 | Pages 417--422 | Publisher: IEEE
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2011_tap.png")
                %h4.pubtitle
                  Encoding OCL data types for SAT-based verification of UML/OCL models
                .pubauthor
                  Mathias Soeken,
                  Robert Wille,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In International Conference on Tests and Proofs (TAP) | Zürich, Switzerland, June 2011 | Pages 152--170 | Publisher: Springer
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2011_modevva.png")
                %h4.pubtitle
                  Towards automatic determination of problem bounds for object instantiation in static model verification
                .pubauthor
                  Mathias Soeken,
                  Robert Wille,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In Model-Driven Engineering, Verification, And Validation (MoDeVVa) | Wellington, New Zealand, October 2011 | Pages 2 | Publisher: ACM
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2012_aspdac.png")
                %h4.pubtitle
                  Synthesis of reversible circuits with minimal lines for large functions
                .pubauthor
                  Mathias Soeken,
                  Robert Wille,
                  Nils Przigoda,
                  Christoph Hilken,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In Asia and South Pacific Design Automation Conference (ASP-DAC) | Sydney, Australia, January 2012 | Pages 85--92 | Publisher: IEEE
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2012_date_1.png")
                %h4.pubtitle
                  Debugging of inconsistent UML/OCL models
                .pubauthor
                  Robert Wille,
                  Mathias Soeken,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In Design, Automation and Test in Europe (DATE) | Dresden, Germany, March 2012 | Pages 1078--1083 | Publisher: IEEE
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2012_date_2.png")
                %h4.pubtitle
                  Eliminating invariants in UML/OCL models
                .pubauthor
                  Mathias Soeken,
                  Robert Wille,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In Design, Automation and Test in Europe (DATE) | Dresden, Germany, March 2012 | Pages 1142--1145 | Publisher: IEEE
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2012_ismvl_1.png")
                %h4.pubtitle
                  A synthesis flow for sequential reversible circuits
                .pubauthor
                  Mathias Soeken,
                  Robert Wille,
                  Christian Otterstedt,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In International Symposium on Multiple-Valued Logic (ISMVL) | Victoria, BC, Canada, May 2012 | Pages 299--304 | Publisher: IEEE
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2012_ismvl_2.png")
                %h4.pubtitle
                  Exact synthesis of Toffoli gate circuits with negative control lines
                .pubauthor
                  Robert Wille,
                  Mathias Soeken,
                  Nils Przigoda,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In International Symposium on Multiple-Valued Logic (ISMVL) | Victoria, BC, Canada, May 2012 | Pages 69--74 | Publisher: IEEE
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2012_ismvl_3.png")
                %h4.pubtitle
                  Optimizing the mapping of reversible circuits to four-valued quantum gate circuits
                .pubauthor
                  Mathias Soeken,
                  Zahra Sasanian,
                  Robert Wille,
                  D. Michael Miller,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In International Symposium on Multiple-Valued Logic (ISMVL) | Victoria, BC, Canada, May 2012 | Pages 173--178 | Publisher: IEEE
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2012_tools.png")
                %h4.pubtitle
                  Assisted behavior driven development using natural language processing
                .pubauthor
                  Mathias Soeken,
                  Robert Wille,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In International Conference on Objects, Models, Components, Patterns (TOOLS) | Prague, Czech Republic, May 2012 | Pages 269--287 | Publisher: Springer
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2012_isvlsi.png")
                %h4.pubtitle
                  Circuit line minimization in the HDL-based synthesis of reversible logic
                .pubauthor
                  Robert Wille,
                  Mathias Soeken,
                  Eleonora Schönborn,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In IEEE Computer Society Annual Symposium on VLSI (ISVLSI) | Armherst, CA, USA, August 2012 | Pages 213--218 | Publisher: IEEE
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2012_fdl.png")
                %h4.pubtitle
                  Formal Specification Level: Towards verification-driven design based on natural language processing
                .pubauthor
                  Rolf Drechsler,
                  Mathias Soeken,
                  Robert Wille
                .pubcite
                  %span.label.label-warning Conference Paper
                  In Forum on Specification & Design Languages (FDL) | Vienna, Austria, September 2012 | Pages 53--58 | Publisher: IEEE
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2012_icgt.png")
                %h4.pubtitle
                  Completeness-Driven Development
                .pubauthor
                  Rolf Drechsler,
                  Melanie Diepenbeck,
                  Daniel Große,
                  Ulrich Kühne,
                  Hoang M. Le,
                  Julia Seiter,
                  Mathias Soeken,
                  Robert Wille
                .pubcite
                  %span.label.label-warning Conference Paper
                  In International Conference on Graph Transformation (ICGT) | Bremen, Germany, September 2012 | Pages 38--50 | Publisher: Springer
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2012_hldvt.png")
                %h4.pubtitle
                  Behavior driven development for circuit design and verification
                .pubauthor
                  Melanie Diepenbeck,
                  Mathias Soeken,
                  Daniel Große,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In International Workshop on High-Level Design Validation and Test (HLDVT) | Huntington Beach, CA, USA, November 2012 | Pages 9--16 | Publisher: IEEE
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2012_rc_1.png")
                %h4.pubtitle
                  Property checking of quantum circuits using quantum multiple-valued decision diagrams
                .pubauthor
                  Julia Seiter,
                  Mathias Soeken,
                  Robert Wille,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In Conference on Reversible Computation (RC) | Copenhagen, Denmark, July 2012 | Pages http://dx.doi.org/10.1007/978-3-642-36315-3_15 | Publisher: Springer
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2012_rc_2.png")
                %h4.pubtitle
                  Using πDDs in the design for reversible circuits
                .pubauthor
                  Mathias Soeken,
                  Robert Wille,
                  Shin-ichi Minato,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In Conference on Reversible Computation (RC) | Copenhagen, Denmark, July 2012 | Pages 197--203 | Publisher: Springer
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2013_aspdac.png")
                %h4.pubtitle
                  Improving the mapping of reversible circuits to quantum circuits using multiple target lines
                .pubauthor
                  Robert Wille,
                  Mathias Soeken,
                  Christian Otterstedt,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In Asia and South Pacific Design Automation Conference (ASP-DAC) | Yokohama, Japan, January 2013 | Pages 145--150 | Publisher: IEEE
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2013_date_1.png")
                %h4.pubtitle
                  Towards a generic verification methodology for system models
                .pubauthor
                  Robert Wille,
                  Martin Gogolla,
                  Mathias Soeken,
                  Mirko Kuhlmann,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In Design, Automation and Test in Europe (DATE) | Grenoble, France, March 2013 | Pages 1193--1196 | Publisher: IEEE
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2013_date_2.png")
                %h4.pubtitle
                  Determining relevant model elements for the verification of UML/OCL specifications
                .pubauthor
                  Julia Seiter,
                  Robert Wille,
                  Mathias Soeken,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In Design, Automation and Test in Europe (DATE) | Grenoble, France, March 2013 | Pages 1189--1192 | Publisher: IEEE
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2013_ismvl_1.png")
                %h4.pubtitle
                  Exact template matching using Boolean satisfiability
                .pubauthor
                  Nabila Abdessaied,
                  Mathias Soeken,
                  Robert Wille,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In International Symposium on Multiple-Valued Logic (ISMVL) | Toyama, Japan, May 2013 | Pages 328--333 | Publisher: IEEE
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2013_ismvl_2.png")
                %h4.pubtitle
                  Debugging of reversible circuits using πDDs
                .pubauthor
                  Laura Tague,
                  Mathias Soeken,
                  Shin-ichi Minato,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In International Symposium on Multiple-Valued Logic (ISMVL) | Toyama, Japan, May 2013 | Pages 316--321 | Publisher: IEEE
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2013_ast.png")
                %h4.pubtitle
                  Towards automatic scenario generation from coverage information
                .pubauthor
                  Melanie Diepenbeck,
                  Mathias Soeken,
                  Daniel Große,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In International Workshop on Automation of Software Test (AST) | San Francisco, CA, USA, May 2013 | Pages 82--88 | Publisher: ACM
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2013_dgk.png")
                %h4.pubtitle
                  Evaluation of site occupancy factors in crystal structure refinements using Boolean satisfiability techniques
                .pubauthor
                  Mathias Soeken,
                  Rolf Drechsler,
                  Reinhard X. Fischer
                .pubcite
                  %span.label.label-warning Conference Paper
                  In Annual Conference of the German Crystallographic Society (DGK) | Freiberg, Germany, March 2013 | Pages XXXX | Publisher: 
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2013_ddecs.png")
                %h4.pubtitle
                  Hardware-software co-visualization: Developing systems in the holodeck
                .pubauthor
                  Rolf Drechsler,
                  Mathias Soeken
                .pubcite
                  %span.label.label-warning Conference Paper
                  In IEEE International Symposium on Design and Diagnostics of Electronic Circuits and Systems (DDECS) | Karlovy Vary, Czech Republic, April 2013 | Pages 1--4 | Publisher: IEEE
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2013_rc_1.png")
                %h4.pubtitle
                  Reducing the depth of quantum circuits using additional lines
                .pubauthor
                  Nabila Abdessaied,
                  Robert Wille,
                  Mathias Soeken,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In Conference on Reversible Computation (RC) | Victoria, BC, Canada, July 2013 | Pages 221--233 | Publisher: Springer
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2013_rc_2.png")
                %h4.pubtitle
                  White dots do matter: Rewriting reversible logic circuits
                .pubauthor
                  Mathias Soeken,
                  Michael Kirkedal Thomsen
                .pubcite
                  %span.label.label-warning Conference Paper
                  In Conference on Reversible Computation (RC) | Victoria, BC, Canada, July 2013 | Pages 196--208 | Publisher: Springer
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2013_idt.png")
                %h4.pubtitle
                  Grammar-based program generation based on model finding
                .pubauthor
                  Mathias Soeken,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In International Test & Design Symposium (IDT) | Marrakesh, Marocco, December 2013 | Pages 1--5 | Publisher: IEEE
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2014_rc_1.png")
                %h4.pubtitle
                  Quantum circuit optimization by Hadamard gate reduction
                .pubauthor
                  Nabila Abdessaied,
                  Mathias Soeken,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In Conference on Reversible Computation (RC) | Kyoto, Japan, July 2014 | Pages 149--162 | Publisher: Springer
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2014_rc_2.png")
                %h4.pubtitle
                  Mapping NCV circuits to optimized Clifford+$T$ circuits
                .pubauthor
                  D. Michael Miller,
                  Mathias Soeken,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In Conference on Reversible Computation (RC) | Kyoto, Japan, July 2014 | Pages 163--175 | Publisher: Springer
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2014_tap.png")
                %h4.pubtitle
                  Behaviour driven development for tests and verification
                .pubauthor
                  Melanie Diepenbeck,
                  Ulrich Kühne,
                  Mathias Soeken,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In International Conference on Tests and Proofs (TAP) | York, England, July 2014 | Pages 61--77 | Publisher: Springer
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2014_iccad.png")
                %h4.pubtitle
                  Automated and quality-driven requirements engineering
                .pubauthor
                  Rolf Drechsler,
                  Mathias Soeken,
                  Robert Wille
                .pubcite
                  %span.label.label-warning Conference Paper
                  In International Conference on Computer-Aided Design (ICCAD) | San Jose, CA, USA, November 2014 | Pages 586--590 | Publisher: IEEE
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2014_apms.png")
                %h4.pubtitle
                  Requirements engineering for cyber-physical systems - challenges in the context of "Industrie 4.0"
                .pubauthor
                  Stefan Wiesner,
                  Christian Gorldt,
                  Mathias Soeken,
                  Klaus-Dieter Thoben,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In Advances in Production Management Systems (APMS) | Ajaccio, France, September 2014 | Pages 281--288 | Publisher: IFIP
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2014_sbcci.png")
                %h4.pubtitle
                  Self-verification as the key technology for next generation electronic systems
                .pubauthor
                  Rolf Drechsler,
                  Hoang M. Le,
                  Mathias Soeken
                .pubcite
                  %span.label.label-warning Conference Paper
                  In Symposium on Integrated Circuits and Systems Design (SBCCI) | Aracaju, Brazil, September 2014 | Pages 15:1--15:4 | Publisher: ACM
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2014_fdl_1.png")
                %h4.pubtitle
                  Automating the translation of assertions using natural language processing techniques
                .pubauthor
                  Mathias Soeken,
                  Christopher B. Harris,
                  Nabila Abdessaied,
                  Ian G. Harris,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In Forum on Specification & Design Languages (FDL) | Munich, Germany, October 2014 | Pages 1--8 | Publisher: IEEE
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2014_fdl_2.png")
                %h4.pubtitle
                  metaSMT: A unified interface to SMT-LIB2
                .pubauthor
                  Heinz Riener,
                  Mathias Soeken,
                  Clemens Werther,
                  Görschwin Fey,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In Forum on Specification & Design Languages (FDL) | Munich, Germany, October 2014 | Pages 1--6 | Publisher: IEEE
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2015_ismvl_1.png")
                %h4.pubtitle
                  Dynamic template matching with mixed-polarity Toffoli gates
                .pubauthor
                  Md. Mazder Rahman,
                  Mathias Soeken,
                  Gerhard W. Dueck
                .pubcite
                  %span.label.label-warning Conference Paper
                  In International Symposium on Multiple-Valued Logic (ISMVL) | Waterloo, ON, Canada, May 2015 | Pages 72--77 | Publisher: IEEE
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2015_ismvl_2.png")
                %h4.pubtitle
                  Fredkin-enabled transformation-based reversible logic synthesis
                .pubauthor
                  Mathias Soeken,
                  Anupam Chattopadhyay
                .pubcite
                  %span.label.label-warning Conference Paper
                  In International Symposium on Multiple-Valued Logic (ISMVL) | Waterloo, ON, Canada, May 2015 | Pages 60--65 | Publisher: IEEE
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2015_ddecs.png")
                %h4.pubtitle
                  Sentence quality assessment based on natural language processing and artificial ingelligence
                .pubauthor
                  Arman Allahyari-Abhari,
                  Mathias Soeken,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In IEEE International Symposium on Design and Diagnostics of Electronic Circuits and Systems (DDECS) | Belgrad, Serbia, April 2015 | Pages 183--188 | Publisher: IEEE
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2015_gecco.png")
                %h4.pubtitle
                  Multi-objective BDD optimization with evolutionary algorithms
                .pubauthor
                  Saeideh Shirinzadeh,
                  Mathias Soeken,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In Genetic and Evolutionary Computation Conference (GECCO) | Madrid, Spain, July 2015 | Pages 751--758 | Publisher: ACM
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2015_fmcad.png")
                %h4.pubtitle
                  Simulation Graphs for Reverse Engineering
                .pubauthor
                  Mathias Soeken,
                  Baruch Sterin,
                  Rolf Drechsler,
                  Robert K. Brayton
                .pubcite
                  %span.label.label-warning Conference Paper
                  In Formal Methods in Computer-Aided Design (FMCAD) | Austin, TX, USA, September 2015 | Pages XXXX | Publisher: IEEE
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2015_rc_1.png")
                %h4.pubtitle
                  Technology mapping for quantum circuits using Boolean functional decomposition
                .pubauthor
                  Nabila Abdessaied,
                  Mathias Soeken,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In Conference on Reversible Computation (RC) | Grenoble, France, July 2015 | Pages 219--232 | Publisher: Springer
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2015_rc_2.png")
                %h4.pubtitle
                  Ricercar: A language for describing and rewriting reversible circuits with ancillae and its permutation semantics
                .pubauthor
                  Michael Kirkedal Thomsen,
                  Robin Kaasgaard Jensen,
                  Mathias Soeken
                .pubcite
                  %span.label.label-warning Conference Paper
                  In Conference on Reversible Computation (RC) | Grenoble, France, July 2015 | Pages 200--215 | Publisher: Springer
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2015_vlsisoc.png")
                %h4.pubtitle
                  Reversible circuit rewriting with simulated annealing
                .pubauthor
                  Nabila Abdessaied,
                  Mathias Soeken,
                  Gerhard W. Dueck,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In International Conference on Very Large Scale Integration (VLSI-SoC) | Daejon, Korea, October 2015 | Pages XXXX | Publisher: IEEE
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2015_tap.png")
                %h4.pubtitle
                  Coverage of OCL operation specifications and invariants
                .pubauthor
                  Mathias Soeken,
                  Julia Seiter,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In International Conference on Tests and Proofs (TAP) | L'Aquila, Italy, July 2015 | Pages 191--207 | Publisher: Springer
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2015_modevva.png")
                %h4.pubtitle
                  Towards an automatic approach for restricting UML/OCL invariability clauses
                .pubauthor
                  Nils Przigoda,
                  Judith Peters,
                  Mathias Soeken,
                  Robert Wille,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In Model-Driven Engineering, Verification, And Validation (MoDeVVa) | Ottawa, ON, Canada, October 2015 | Pages XXXX | Publisher: ACM
            .item
              .pubmain
                .pubassets
                  %a(href="#")
                    %span.glyphicon.glyphicon-new-window
                  %a(href="#")
                    %span.glyphicon.glyphicon-cloud-download
                %img.pubthumb(src="images/thumbs/2016_aspdac.png")
                %h4.pubtitle
                  BDD minimization for approximate computing
                .pubauthor
                  Mathias Soeken,
                  Daniel Große,
                  Arun Chandrasekharan,
                  Rolf Drechsler
                .pubcite
                  %span.label.label-warning Conference Paper
                  In Asia and South Pacific Design Automation Conference (ASP-DAC) | Macau, China, January 2016 | Pages XXXX | Publisher: IEEE
