!!! 5
- require 'json'
%html
  %head
    = Haml::Engine.new(File.read('_header.haml')).render(Object.new, :title => 'Mathias Soeken / Reversible reciprocal circuits')
    %link(href="css/doc.css" rel="stylesheet")
  %body
    .container#main-container
      .row#main-row
        = Haml::Engine.new(File.read('_nav.haml')).render(Object.new, :page => "revkit")
        .col-md-9
          %h1 Reversible reciprocal circuits
          %p
            This page lists the benchmarks for the reversible reciprocal circuits reported in
          %p
            Mathias Soeken, Martin Roetteler, Nathan Wiebe, and Giovanni De Micheli:
            %a(href="publications.html#c81") Design automation and design space exploration for quantum computers
            %i Design Automation and Test in Europe,
            2017.
          %h3 Results with Symbolic Functional Reversible Synthesis
          %table.table.table.table-bordered(width="100%")
            %thead
              %tr.active
                %th
                %th(colspan="3" style="text-align:center")
                  %tt INTDIV
                  (
                  %i n
                  )
                %th(colspan="3" style="text-align:center")
                  %tt NEWTON
                  (
                  %i n
                  )
              %tr
                %th
                  %i n
                %th qubits
                %th
                  %i T
                  count
                %th files
                %th qubits
                %th
                  %i T
                  count
                %th files
            %tbody
              %tr.data
                %td.number 4
                %td.number 7
                %td.number 687
                %td
                  %a(href="PATH/intdiv-pla-rec4.v.gz") Verilog
                  &middot;
                  %a(href="PATH/intdiv-pla-rec4.pla.gz") PLA
                  &middot;
                  %a(href="PATH/intdiv-pla-rec4.real.gz") REAL
                %td.number 7
                %td.number 649
                %td
                  %a(href="PATH/newton-pla-rec4.v.gz") Verilog
                  &middot;
                  %a(href="PATH/newton-pla-rec4.pla.gz") PLA
                  &middot;
                  %a(href="PATH/newton-pla-rec4.real.gz") REAL
              %tr.data
                %td.number 5
                %td.number 9
                %td.number 2171
                %td
                  %a(href="PATH/intdiv-pla-rec5.v.gz") Verilog
                  &middot;
                  %a(href="PATH/intdiv-pla-rec5.pla.gz") PLA
                  &middot;
                  %a(href="PATH/intdiv-pla-rec5.real.gz") REAL
                %td.number 9
                %td.number 2368
                %td
                  %a(href="PATH/newton-pla-rec5.v.gz") Verilog
                  &middot;
                  %a(href="PATH/newton-pla-rec5.pla.gz") PLA
                  &middot;
                  %a(href="PATH/newton-pla-rec5.real.gz") REAL
              %tr.data
                %td.number 6
                %td.number 11
                %td.number 7957
                %td
                  %a(href="PATH/intdiv-pla-rec6.v.gz") Verilog
                  &middot;
                  %a(href="PATH/intdiv-pla-rec6.pla.gz") PLA
                  &middot;
                  %a(href="PATH/intdiv-pla-rec6.real.gz") REAL
                %td.number 11
                %td.number 8187
                %td
                  %a(href="PATH/newton-pla-rec6.v.gz") Verilog
                  &middot;
                  %a(href="PATH/newton-pla-rec6.pla.gz") PLA
                  &middot;
                  %a(href="PATH/newton-pla-rec6.real.gz") REAL
              %tr.data
                %td.number 7
                %td.number 13
                %td.number 26644
                %td
                  %a(href="PATH/intdiv-pla-rec7.v.gz") Verilog
                  &middot;
                  %a(href="PATH/intdiv-pla-rec7.pla.gz") PLA
                  &middot;
                  %a(href="PATH/intdiv-pla-rec7.real.gz") REAL
                %td.number 13
                %td.number 23223
                %td
                  %a(href="PATH/newton-pla-rec7.v.gz") Verilog
                  &middot;
                  %a(href="PATH/newton-pla-rec7.pla.gz") PLA
                  &middot;
                  %a(href="PATH/newton-pla-rec7.real.gz") REAL
              %tr.data
                %td.number 8
                %td.number 15
                %td.number 70742
                %td
                  %a(href="PATH/intdiv-pla-rec8.v.gz") Verilog
                  &middot;
                  %a(href="PATH/intdiv-pla-rec8.pla.gz") PLA
                  &middot;
                  %a(href="PATH/intdiv-pla-rec8.real.gz") REAL
                %td.number 15
                %td.number 78109
                %td
                  %a(href="PATH/newton-pla-rec8.v.gz") Verilog
                  &middot;
                  %a(href="PATH/newton-pla-rec8.pla.gz") PLA
                  &middot;
                  %a(href="PATH/newton-pla-rec8.real.gz") REAL
              %tr.data
                %td.number 9
                %td.number 17
                %td.number 198349
                %td
                  %a(href="PATH/intdiv-pla-rec9.v.gz") Verilog
                  &middot;
                  %a(href="PATH/intdiv-pla-rec9.pla.gz") PLA
                  &middot;
                  %a(href="PATH/intdiv-pla-rec9.real.gz") REAL
                %td.number 17
                %td.number 210023
                %td
                  %a(href="PATH/newton-pla-rec9.v.gz") Verilog
                  &middot;
                  %a(href="PATH/newton-pla-rec9.pla.gz") PLA
                  &middot;
                  %a(href="PATH/newton-pla-rec9.real.gz") REAL
              %tr.data
                %td.number 10
                %td.number 19
                %td.number 542321
                %td
                  %a(href="PATH/intdiv-pla-rec10.v.gz") Verilog
                  &middot;
                  %a(href="PATH/intdiv-pla-rec10.pla.gz") PLA
                  &middot;
                  %a(href="PATH/intdiv-pla-rec10.real.gz") REAL
                %td.number 19
                %td.number 548199
                %td
                  %a(href="PATH/newton-pla-rec10.v.gz") Verilog
                  &middot;
                  %a(href="PATH/newton-pla-rec10.pla.gz") PLA
                  &middot;
                  %a(href="PATH/newton-pla-rec10.real.gz") REAL
              %tr.data
                %td.number 11
                %td.number 21
                %td.number 1386090
                %td
                  %a(href="PATH/intdiv-pla-rec11.v.gz") Verilog
                  &middot;
                  %a(href="PATH/intdiv-pla-rec11.pla.gz") PLA
                  &middot;
                  %a(href="PATH/intdiv-pla-rec11.real.gz") REAL
                %td.number 21
                %td.number 1391509
                %td
                  %a(href="PATH/newton-pla-rec11.v.gz") Verilog
                  &middot;
                  %a(href="PATH/newton-pla-rec11.pla.gz") PLA
                  &middot;
                  %a(href="PATH/newton-pla-rec11.real.gz") REAL
              %tr.data
                %td.number 12
                %td.number 23
                %td.number 3472245
                %td
                  %a(href="PATH/intdiv-pla-rec12.v.gz") Verilog
                  &middot;
                  %a(href="PATH/intdiv-pla-rec12.pla.gz") PLA
                  &middot;
                  %a(href="PATH/intdiv-pla-rec12.real.gz") REAL
                %td.number 23
                %td.number 3488707
                %td
                  %a(href="PATH/newton-pla-rec12.v.gz") Verilog
                  &middot;
                  %a(href="PATH/newton-pla-rec12.pla.gz") PLA
                  &middot;
                  %a(href="PATH/newton-pla-rec12.real.gz") REAL
              %tr.data
                %td.number 13
                %td.number 25
                %td.number 8410660
                %td
                  %a(href="PATH/intdiv-pla-rec13.v.gz") Verilog
                  &middot;
                  %a(href="PATH/intdiv-pla-rec13.pla.gz") PLA
                  &middot;
                  %a(href="PATH/intdiv-pla-rec13.real.gz") REAL
                %td.number 25
                %td.number 8480676
                %td
                  %a(href="PATH/newton-pla-rec13.v.gz") Verilog
                  &middot;
                  %a(href="PATH/newton-pla-rec13.pla.gz") PLA
                  &middot;
                  %a(href="PATH/newton-pla-rec13.real.gz") REAL
              %tr.data
                %td.number 14
                %td.number 27
                %td.number 20204942
                %td
                  %a(href="PATH/intdiv-pla-rec14.v.gz") Verilog
                  &middot;
                  %a(href="PATH/intdiv-pla-rec14.pla.gz") PLA
                  &middot;
                  %a(href="PATH/intdiv-pla-rec14.real.gz") REAL
                %td.number 27
                %td.number 20223022
                %td
                  %a(href="PATH/newton-pla-rec14.v.gz") Verilog
                  &middot;
                  %a(href="PATH/newton-pla-rec14.pla.gz") PLA
                  &middot;
                  %a(href="PATH/newton-pla-rec14.real.gz") REAL
              %tr.data
                %td.number 15
                %td.number 29
                %td.number 47512793
                %td
                  %a(href="PATH/intdiv-pla-rec15.v.gz") Verilog
                  &middot;
                  %a(href="PATH/intdiv-pla-rec15.pla.gz") PLA
                  &middot;
                  %a(href="PATH/intdiv-pla-rec15.real.gz") REAL
                %td.number 29
                %td.number 47487120
                %td
                  %a(href="PATH/newton-pla-rec15.v.gz") Verilog
                  &middot;
                  %a(href="PATH/newton-pla-rec15.pla.gz") PLA
                  &middot;
                  %a(href="PATH/newton-pla-rec15.real.gz") REAL
              %tr.data
                %td.number 16
                %td.number 31
                %td.number 110598564
                %td
                  %a(href="PATH/intdiv-pla-rec16.v.gz") Verilog
                  &middot;
                  %a(href="PATH/intdiv-pla-rec16.pla.gz") PLA
                  &middot;
                  %a(href="PATH/intdiv-pla-rec16.real.gz") REAL
                %td.number 31
                %td.number 110844474
                %td
                  %a(href="PATH/newton-pla-rec16.v.gz") Verilog
                  &middot;
                  %a(href="PATH/newton-pla-rec16.pla.gz") PLA
                  &middot;
                  %a(href="PATH/newton-pla-rec16.real.gz") REAL
          %p
            The PLA files have been generated using the
            %a(href="https://people.eecs.berkeley.edu/~alanmi/abc/" target="_blank") ABC
            commands
            %kbd clp
            and
            %kbd satclp
            :plain
              .
            The
            %tt NEWTON
            designs have been parsed using
            %a(href="http://www.clifford.at/yosys/" target="_blank") Yosys
            and translated into BLIF files to be read with ABC.  We used the command
            %kbd stbs -s
            in
            %a(href="revkit.html") RevKit
            to generate reversible circuit realizations (REAL files).
            The command
            %kbd gen_reciprocal
            (see details
            %a(href="https://github.com/msoeken/cirkit/blob/master/addons/cirkit-addon-reversible/src/reversible/generators/reciprocal.cpp" target="_blank") here
            )
            in RevKit can be used to execute the whole flow (requires to have
            %code abc
            and
            %code yosys
            executables in the
            %code $PATH
            ):
          %pre
            :preserve
              <span style="color: darkred"># <b>[N]</b> is a placeholder for the bitwidth</span>
              <span style="color: darkred"># INTDIV design (-a 0)</span>
              gen_reciprocal -a 0 -m 1 --verilog_name rec<b>[N]</b>.v --pla_name rec<b>[N]</b>.pla <b>[N]</b>
              ps -c
              write_real rec<b>[N]</b>.real

              <span style="color: darkred"># NEWTON design (-a 1)</span>
              gen_reciprocal -a 1 -m 1 --verilog_name rec<b>[N]</b>.v --pla_name rec<b>[N]</b>.pla <b>[N]</b>
              ps -c
              write_real rec<b>[N]</b>.real
          %h3 Results with REVS
          %p
            %span.label.label-info Info
            The Verilog (V) and ESOP (E) files are the same for the flows with
            %i p = 0
            and
            %i p = 1
          %table.table.table.table-bordered(width="100%")
            %thead
              %tr.active
                %th
                %th(colspan="3" style="text-align:center")
                  %tt INTDIV
                  (
                  %i n
                  ),
                  %i p = 0
                %th(colspan="3" style="text-align:center")
                  %tt NEWTON
                  (
                  %i n
                  ),
                  %i p = 0
                %th(colspan="3" style="text-align:center")
                  %tt INTDIV
                  (
                  %i n
                  ),
                  %i p = 1
                %th(colspan="3" style="text-align:center")
                  %tt NEWTON
                  (
                  %i n
                  ),
                  %i p = 1
              %tr
                %th
                  %i n
                %th qubits
                %th
                  %i T
                  count
                %th files
                %th qubits
                %th
                  %i T
                  count
                %th files
                %th qubits
                %th
                  %i T
                  count
                %th files
                %th qubits
                %th
                  %i T
                  count
                %th files
            %tbody
              %tr.data
                %td.number 5
                %td.number 10
                %td.number 286
                %td
                  %a(href="PATH/intdiv-esop-rec5.v.gz") V
                  &middot;
                  %a(href="PATH/intdiv-esop-rec5.esop.gz") E
                  &middot;
                  %a(href="PATH/intdiv-esop0-rec5.real.gz") R
                %td.number 10
                %td.number 169
                %td
                  %a(href="PATH/newton-esop-rec5.v.gz") V
                  &middot;
                  %a(href="PATH/newton-esop-rec5.esop.gz") E
                  &middot;
                  %a(href="PATH/newton-esop0-rec5.real.gz") R
                %td.number 12
                %td.number 269
                %td
                  %a(href="PATH/intdiv-esop1-rec5.real.gz") R
                %td.number 10
                %td.number 169
                %td
                  %a(href="PATH/newton-esop1-rec5.real.gz") R
              %tr.data
                %td.number 6
                %td.number 12
                %td.number 531
                %td
                  %a(href="PATH/intdiv-esop-rec6.v.gz") V
                  &middot;
                  %a(href="PATH/intdiv-esop-rec6.esop.gz") E
                  &middot;
                  %a(href="PATH/intdiv-esop0-rec6.real.gz") R
                %td.number 12
                %td.number 366
                %td
                  %a(href="PATH/newton-esop-rec6.v.gz") V
                  &middot;
                  %a(href="PATH/newton-esop-rec6.esop.gz") E
                  &middot;
                  %a(href="PATH/newton-esop0-rec6.real.gz") R
                %td.number 14
                %td.number 507
                %td
                  %a(href="PATH/intdiv-esop1-rec6.real.gz") R
                %td.number 13
                %td.number 334
                %td
                  %a(href="PATH/newton-esop1-rec6.real.gz") R
              %tr.data
                %td.number 7
                %td.number 14
                %td.number 1019
                %td
                  %a(href="PATH/intdiv-esop-rec7.v.gz") V
                  &middot;
                  %a(href="PATH/intdiv-esop-rec7.esop.gz") E
                  &middot;
                  %a(href="PATH/intdiv-esop0-rec7.real.gz") R
                %td.number 14
                %td.number 726
                %td
                  %a(href="PATH/newton-esop-rec7.v.gz") V
                  &middot;
                  %a(href="PATH/newton-esop-rec7.esop.gz") E
                  &middot;
                  %a(href="PATH/newton-esop0-rec7.real.gz") R
                %td.number 17
                %td.number 989
                %td
                  %a(href="PATH/intdiv-esop1-rec7.real.gz") R
                %td.number 17
                %td.number 629
                %td
                  %a(href="PATH/newton-esop1-rec7.real.gz") R
              %tr.data
                %td.number 8
                %td.number 16
                %td.number 1762
                %td
                  %a(href="PATH/intdiv-esop-rec8.v.gz") V
                  &middot;
                  %a(href="PATH/intdiv-esop-rec8.esop.gz") E
                  &middot;
                  %a(href="PATH/intdiv-esop0-rec8.real.gz") R
                %td.number 16
                %td.number 1357
                %td
                  %a(href="PATH/newton-esop-rec8.v.gz") V
                  &middot;
                  %a(href="PATH/newton-esop-rec8.esop.gz") E
                  &middot;
                  %a(href="PATH/newton-esop0-rec8.real.gz") R
                %td.number 20
                %td.number 1675
                %td
                  %a(href="PATH/intdiv-esop1-rec8.real.gz") R
                %td.number 20
                %td.number 1310
                %td
                  %a(href="PATH/newton-esop1-rec8.real.gz") R
              %tr.data
                %td.number 9
                %td.number 18
                %td.number 2742
                %td
                  %a(href="PATH/intdiv-esop-rec9.v.gz") V
                  &middot;
                  %a(href="PATH/intdiv-esop-rec9.esop.gz") E
                  &middot;
                  %a(href="PATH/intdiv-esop0-rec9.real.gz") R
                %td.number 18
                %td.number 2518
                %td
                  %a(href="PATH/newton-esop-rec9.v.gz") V
                  &middot;
                  %a(href="PATH/newton-esop-rec9.esop.gz") E
                  &middot;
                  %a(href="PATH/newton-esop0-rec9.real.gz") R
                %td.number 23
                %td.number 2359
                %td
                  %a(href="PATH/intdiv-esop1-rec9.real.gz") R
                %td.number 22
                %td.number 2278
                %td
                  %a(href="PATH/newton-esop1-rec9.real.gz") R
              %tr.data
                %td.number 10
                %td.number 20
                %td.number 4611
                %td
                  %a(href="PATH/intdiv-esop-rec10.v.gz") V
                  &middot;
                  %a(href="PATH/intdiv-esop-rec10.esop.gz") E
                  &middot;
                  %a(href="PATH/intdiv-esop0-rec10.real.gz") R
                %td.number 20
                %td.number 4477
                %td
                  %a(href="PATH/newton-esop-rec10.v.gz") V
                  &middot;
                  %a(href="PATH/newton-esop-rec10.esop.gz") E
                  &middot;
                  %a(href="PATH/newton-esop0-rec10.real.gz") R
                %td.number 23
                %td.number 4142
                %td
                  %a(href="PATH/intdiv-esop1-rec10.real.gz") R
                %td.number 24
                %td.number 3919
                %td
                  %a(href="PATH/newton-esop1-rec10.real.gz") R
              %tr.data
                %td.number 11
                %td.number 22
                %td.number 7683
                %td
                  %a(href="PATH/intdiv-esop-rec11.v.gz") V
                  &middot;
                  %a(href="PATH/intdiv-esop-rec11.esop.gz") E
                  &middot;
                  %a(href="PATH/intdiv-esop0-rec11.real.gz") R
                %td.number 22
                %td.number 7227
                %td
                  %a(href="PATH/newton-esop-rec11.v.gz") V
                  &middot;
                  %a(href="PATH/newton-esop-rec11.esop.gz") E
                  &middot;
                  %a(href="PATH/newton-esop0-rec11.real.gz") R
                %td.number 29
                %td.number 6782
                %td
                  %a(href="PATH/intdiv-esop1-rec11.real.gz") R
                %td.number 27
                %td.number 6224
                %td
                  %a(href="PATH/newton-esop1-rec11.real.gz") R
              %tr.data
                %td.number 12
                %td.number 24
                %td.number 11607
                %td
                  %a(href="PATH/intdiv-esop-rec12.v.gz") V
                  &middot;
                  %a(href="PATH/intdiv-esop-rec12.esop.gz") E
                  &middot;
                  %a(href="PATH/intdiv-esop0-rec12.real.gz") R
                %td.number 24
                %td.number 11597
                %td
                  %a(href="PATH/newton-esop-rec12.v.gz") V
                  &middot;
                  %a(href="PATH/newton-esop-rec12.esop.gz") E
                  &middot;
                  %a(href="PATH/newton-esop0-rec12.real.gz") R
                %td.number 30
                %td.number 10036
                %td
                  %a(href="PATH/intdiv-esop1-rec12.real.gz") R
                %td.number 29
                %td.number 9312
                %td
                  %a(href="PATH/newton-esop1-rec12.real.gz") R
              %tr.data
                %td.number 13
                %td.number 26
                %td.number 18630
                %td
                  %a(href="PATH/intdiv-esop-rec13.v.gz") V
                  &middot;
                  %a(href="PATH/intdiv-esop-rec13.esop.gz") E
                  &middot;
                  %a(href="PATH/intdiv-esop0-rec13.real.gz") R
                %td.number 26
                %td.number 19837
                %td
                  %a(href="PATH/newton-esop-rec13.v.gz") V
                  &middot;
                  %a(href="PATH/newton-esop-rec13.esop.gz") E
                  &middot;
                  %a(href="PATH/newton-esop0-rec13.real.gz") R
                %td.number 31
                %td.number 15034
                %td
                  %a(href="PATH/intdiv-esop1-rec13.real.gz") R
                %td.number 32
                %td.number 15634
                %td
                  %a(href="PATH/newton-esop1-rec13.real.gz") R
              %tr.data
                %td.number 14
                %td.number 28
                %td.number 30652
                %td
                  %a(href="PATH/intdiv-esop-rec14.v.gz") V
                  &middot;
                  %a(href="PATH/intdiv-esop-rec14.esop.gz") E
                  &middot;
                  %a(href="PATH/intdiv-esop0-rec14.real.gz") R
                %td.number 28
                %td.number 30456
                %td
                  %a(href="PATH/newton-esop-rec14.v.gz") V
                  &middot;
                  %a(href="PATH/newton-esop-rec14.esop.gz") E
                  &middot;
                  %a(href="PATH/newton-esop0-rec14.real.gz") R
                %td.number 37
                %td.number 25061
                %td
                  %a(href="PATH/intdiv-esop1-rec14.real.gz") R
                %td.number 34
                %td.number 25140
                %td
                  %a(href="PATH/newton-esop1-rec14.real.gz") R
              %tr.data
                %td.number 15
                %td.number 30
                %td.number 47148
                %td
                  %a(href="PATH/intdiv-esop-rec15.v.gz") V
                  &middot;
                  %a(href="PATH/intdiv-esop-rec15.esop.gz") E
                  &middot;
                  %a(href="PATH/intdiv-esop0-rec15.real.gz") R
                %td.number 30
                %td.number 48981
                %td
                  %a(href="PATH/newton-esop-rec15.v.gz") V
                  &middot;
                  %a(href="PATH/newton-esop-rec15.esop.gz") E
                  &middot;
                  %a(href="PATH/newton-esop0-rec15.real.gz") R
                %td.number 35
                %td.number 37057
                %td
                  %a(href="PATH/intdiv-esop1-rec15.real.gz") R
                %td.number 37
                %td.number 37819
                %td
                  %a(href="PATH/newton-esop1-rec15.real.gz") R
              %tr.data
                %td.number 16
                %td.number 32
                %td.number 74072
                %td
                  %a(href="PATH/intdiv-esop-rec16.v.gz") V
                  &middot;
                  %a(href="PATH/intdiv-esop-rec16.esop.gz") E
                  &middot;
                  %a(href="PATH/intdiv-esop0-rec16.real.gz") R
                %td.number 32
                %td.number 71818
                %td
                  %a(href="PATH/newton-esop-rec16.v.gz") V
                  &middot;
                  %a(href="PATH/newton-esop-rec16.esop.gz") E
                  &middot;
                  %a(href="PATH/newton-esop0-rec16.real.gz") R
                %td.number 46
                %td.number 57017
                %td
                  %a(href="PATH/intdiv-esop1-rec16.real.gz") R
                %td.number 38
                %td.number 55258
                %td
                  %a(href="PATH/newton-esop1-rec16.real.gz") R
              %tr.data
                %td.number 17
                %td.number 34
                %td.number 111470
                %td
                  %a(href="PATH/intdiv-esop-rec17.v.gz") V
                  &middot;
                  %a(href="PATH/intdiv-esop-rec17.esop.gz") E
                  &middot;
                  %a(href="PATH/intdiv-esop0-rec17.real.gz") R
                %td.number 34
                %td.number 135612
                %td
                  %a(href="PATH/newton-esop-rec17.v.gz") V
                  &middot;
                  %a(href="PATH/newton-esop-rec17.esop.gz") E
                  &middot;
                  %a(href="PATH/newton-esop0-rec17.real.gz") R
                %td.number 41
                %td.number 86197
                %td
                  %a(href="PATH/intdiv-esop1-rec17.real.gz") R
                %td.number 43
                %td.number 101784
                %td
                  %a(href="PATH/newton-esop1-rec17.real.gz") R
              %tr.data
                %td.number 18
                %td.number 36
                %td.number 170390
                %td
                  %a(href="PATH/intdiv-esop-rec18.v.gz") V
                  &middot;
                  %a(href="PATH/intdiv-esop-rec18.esop.gz") E
                  &middot;
                  %a(href="PATH/intdiv-esop0-rec18.real.gz") R
                %td.number 36
                %td.number 218782
                %td
                  %a(href="PATH/newton-esop-rec18.v.gz") V
                  &middot;
                  %a(href="PATH/newton-esop-rec18.esop.gz") E
                  &middot;
                  %a(href="PATH/newton-esop0-rec18.real.gz") R
                %td.number 43
                %td.number 127149
                %td
                  %a(href="PATH/intdiv-esop1-rec18.real.gz") R
                %td.number 44
                %td.number 160527
                %td
                  %a(href="PATH/newton-esop1-rec18.real.gz") R
              %tr.data
                %td.number 19
                %td.number 38
                %td.number 256275
                %td
                  %a(href="PATH/intdiv-esop-rec19.v.gz") V
                  &middot;
                  %a(href="PATH/intdiv-esop-rec19.esop.gz") E
                  &middot;
                  %a(href="PATH/intdiv-esop0-rec19.real.gz") R
                %td.number 38
                %td.number 328760
                %td
                  %a(href="PATH/newton-esop-rec19.v.gz") V
                  &middot;
                  %a(href="PATH/newton-esop-rec19.esop.gz") E
                  &middot;
                  %a(href="PATH/newton-esop0-rec19.real.gz") R
                %td.number 46
                %td.number 187670
                %td
                  %a(href="PATH/intdiv-esop1-rec19.real.gz") R
                %td.number 46
                %td.number 237482
                %td
                  %a(href="PATH/newton-esop1-rec19.real.gz") R
              %tr.data
                %td.number 20
                %td.number 40
                %td.number 407790
                %td
                  %a(href="PATH/intdiv-esop-rec20.v.gz") V
                  &middot;
                  %a(href="PATH/intdiv-esop-rec20.esop.gz") E
                  &middot;
                  %a(href="PATH/intdiv-esop0-rec20.real.gz") R
                %td.number 40
                %td.number 501326
                %td
                  %a(href="PATH/newton-esop-rec20.v.gz") V
                  &middot;
                  %a(href="PATH/newton-esop-rec20.esop.gz") E
                  &middot;
                  %a(href="PATH/newton-esop0-rec20.real.gz") R
                %td.number 48
                %td.number 296075
                %td
                  %a(href="PATH/intdiv-esop1-rec20.real.gz") R
                %td.number 47
                %td.number 356202
                %td
                  %a(href="PATH/newton-esop1-rec20.real.gz") R
              %tr.data
                %td.number 21
                %td.number 42
                %td.number 608408
                %td
                  %a(href="PATH/intdiv-esop-rec21.v.gz") V
                  &middot;
                  %a(href="PATH/intdiv-esop-rec21.esop.gz") E
                  &middot;
                  %a(href="PATH/intdiv-esop0-rec21.real.gz") R
                %td.number 42
                %td.number 795032
                %td
                  %a(href="PATH/newton-esop-rec21.v.gz") V
                  &middot;
                  %a(href="PATH/newton-esop-rec21.esop.gz") E
                  &middot;
                  %a(href="PATH/newton-esop0-rec21.real.gz") R
                %td.number 51
                %td.number 434015
                %td
                  %a(href="PATH/intdiv-esop1-rec21.real.gz") R
                %td.number 51
                %td.number 561878
                %td
                  %a(href="PATH/newton-esop1-rec21.real.gz") R
              %tr.data
                %td.number 22
                %td.number 44
                %td.number 923681
                %td
                  %a(href="PATH/intdiv-esop-rec22.v.gz") V
                  &middot;
                  %a(href="PATH/intdiv-esop-rec22.esop.gz") E
                  &middot;
                  %a(href="PATH/intdiv-esop0-rec22.real.gz") R
                %td.number 44
                %td.number 1208146
                %td
                  %a(href="PATH/newton-esop-rec22.v.gz") V
                  &middot;
                  %a(href="PATH/newton-esop-rec22.esop.gz") E
                  &middot;
                  %a(href="PATH/newton-esop0-rec22.real.gz") R
                %td.number 52
                %td.number 651553
                %td
                  %a(href="PATH/intdiv-esop1-rec22.real.gz") R
                %td.number 53
                %td.number 842407
                %td
                  %a(href="PATH/newton-esop1-rec22.real.gz") R
              %tr.data
                %td.number 23
                %td.number 46
                %td.number 1360868
                %td
                  %a(href="PATH/intdiv-esop-rec23.v.gz") V
                  &middot;
                  %a(href="PATH/intdiv-esop-rec23.esop.gz") E
                  &middot;
                  %a(href="PATH/intdiv-esop0-rec23.real.gz") R
                %td.number 46
                %td.number 1806710
                %td
                  %a(href="PATH/newton-esop-rec23.v.gz") V
                  &middot;
                  %a(href="PATH/newton-esop-rec23.esop.gz") E
                  &middot;
                  %a(href="PATH/newton-esop0-rec23.real.gz") R
                %td.number 56
                %td.number 937520
                %td
                  %a(href="PATH/intdiv-esop1-rec23.real.gz") R
                %td.number 56
                %td.number 1248826
                %td
                  %a(href="PATH/newton-esop1-rec23.real.gz") R
              %tr.data
                %td.number 24
                %td.number 48
                %td.number 2052701
                %td
                  %a(href="PATH/intdiv-esop-rec24.v.gz") V
                  &middot;
                  %a(href="PATH/intdiv-esop-rec24.esop.gz") E
                  &middot;
                  %a(href="PATH/intdiv-esop0-rec24.real.gz") R
                %td.number 48
                %td.number 2731038
                %td
                  %a(href="PATH/newton-esop-rec24.v.gz") V
                  &middot;
                  %a(href="PATH/newton-esop-rec24.esop.gz") E
                  &middot;
                  %a(href="PATH/newton-esop0-rec24.real.gz") R
                %td.number 57
                %td.number 1404403
                %td
                  %a(href="PATH/intdiv-esop1-rec24.real.gz") R
                %td.number 58
                %td.number 1848500
                %td
                  %a(href="PATH/newton-esop1-rec24.real.gz") R
              %tr.data
                %td.number 25
                %td.number 50
                %td.number 3075095
                %td
                  %a(href="PATH/intdiv-esop-rec25.v.gz") V
                  &middot;
                  %a(href="PATH/intdiv-esop-rec25.esop.gz") E
                  &middot;
                  %a(href="PATH/intdiv-esop0-rec25.real.gz") R
                %td.number 50
                %td.number 4090938
                %td
                  %a(href="PATH/newton-esop-rec25.v.gz") V
                  &middot;
                  %a(href="PATH/newton-esop-rec25.esop.gz") E
                  &middot;
                  %a(href="PATH/newton-esop0-rec25.real.gz") R
                %td.number 60
                %td.number 2085957
                %td
                  %a(href="PATH/intdiv-esop1-rec25.real.gz") R
                %td.number 60
                %td.number 2737267
                %td
                  %a(href="PATH/newton-esop1-rec25.real.gz") R
          %p
            The following command in RevKit can be used to execute the whole flow (the flow requires to have
            %code abc
            and
            %code yosys
            executables in the
            %code $PATH
            ):
          %pre
            :preserve
              <span style="color: darkred"># <b>[N]</b> is a placeholder for the bitwidth</span>
              <span style="color: darkred"># INTDIV design (-a 0)</span>
              gen_reciprocal -a 0 -m 0 --verilog_name rec<b>[N]</b>.v --pla_name rec<b>[N]</b>.pla <b>[N]</b>
              ps -c
              write_real rec<b>[N]</b>.real

              <span style="color: darkred"># NEWTON design (-a 1)</span>
              gen_reciprocal -a 1 -m 0 --verilog_name rec<b>[N]</b>.v --pla_name rec<b>[N]</b>.pla <b>[N]</b>
              ps -c
              write_real rec<b>[N]</b>.real
          %h3 Results with Hierarchical Synthesis
          %table.table.table.table-bordered(width="100%")
            %thead
              %tr.active
                %th
                %th(colspan="3" style="text-align:center")
                  %tt INTDIV
                  (
                  %i n
                  )
                %th(colspan="3" style="text-align:center")
                  %tt NEWTON
                  (
                  %i n
                  )
              %tr
                %th
                  %i n
                %th qubits
                %th
                  %i T
                  count
                %th files
                %th qubits
                %th
                  %i T
                  count
                %th files
            %tbody
              %tr
                %td.number 16
                %td.number 892
                %td.number 5607
                %td
                  %a(href="PATH/intdiv-dxs-rec16.v.gz") Verilog
                  &middot;
                  %a(href="PATH/intdiv-dxs-rec16.xmg.v.gz") XMG
                  &middot;
                  %a(href="PATH/intdiv-dxs-rec16.real.gz") REAL
                %td.number 10713
                %td.number 73080
                %td
                  %a(href="PATH/intdiv-dxs-rec16.v.gz") Verilog
                  &middot;
                  %a(href="PATH/intdiv-dxs-rec16.xmg.v.gz") XMG
                  &middot;
                  %a(href="PATH/intdiv-dxs-rec16.real.gz") REAL
              %tr
                %td.number 32
                %td.number 3501
                %td.number 21455
                %td
                  %a(href="PATH/intdiv-dxs-rec32.v.gz") Verilog
                  &middot;
                  %a(href="PATH/intdiv-dxs-rec32.xmg.v.gz") XMG
                  &middot;
                  %a(href="PATH/intdiv-dxs-rec32.real.gz") REAL
                %td.number 56207
                %td.number 392917
                %td
                  %a(href="PATH/intdiv-dxs-rec32.v.gz") Verilog
                  &middot;
                  %a(href="PATH/intdiv-dxs-rec32.xmg.v.gz") XMG
                  &middot;
                  %a(href="PATH/intdiv-dxs-rec32.real.gz") REAL
              %tr
                %td.number 64
                %td.number 13465
                %td.number 80339
                %td
                  %a(href="PATH/intdiv-dxs-rec64.v.gz") Verilog
                  &middot;
                  %a(href="PATH/intdiv-dxs-rec64.xmg.v.gz") XMG
                  &middot;
                  %a(href="PATH/intdiv-dxs-rec64.real.gz") REAL
                %td.number 178653
                %td.number 1264704
                %td
                  %a(href="PATH/intdiv-dxs-rec64.v.gz") Verilog
                  &middot;
                  %a(href="PATH/intdiv-dxs-rec64.xmg.v.gz") XMG
                  &middot;
                  %a(href="PATH/intdiv-dxs-rec64.real.gz") REAL
              %tr
                %td.number 128
                %td.number 51897
                %td.number 308364
                %td
                  %a(href="PATH/intdiv-dxs-rec128.v.gz") Verilog
                  &middot;
                  %a(href="PATH/intdiv-dxs-rec128.xmg.v.gz") XMG
                  &middot;
                  %a(href="PATH/intdiv-dxs-rec128.real.gz") REAL
                %td.number 1029441
                %td.number 7033040
                %td
                  %a(href="PATH/intdiv-dxs-rec128.v.gz") Verilog
                  &middot;
                  %a(href="PATH/intdiv-dxs-rec128.xmg.v.gz") XMG
                  &middot;
                  %a(href="PATH/intdiv-dxs-rec128.real.gz") REAL
          %p
            The following script that involves calls to RevKit, ABC and
            %a(href="cirkit.html") CirKit
            has been used to generate the circuits.  Here, we show the scripts to generate the
            %tt INTDIV
            design.  Change
            %kbd -a 0
            in the
            %kbd gen_reciprocal
            command to
            %kbd -a 1
            to use the
            %tt NEWTON
            design.
          %pre
            :preserve
              <span style="color: darkred"># <b>[N]</b> is a placeholder for the bitwidth</span>
              <span style="color: darkred"># RevKit</span>
              gen_reciprocal -a 0 --verilog_name rec<b>[N]</b> --only_write <b>[N]</b>
              quit

              <span style="color: darkred"># Use ABC <i>resyn2</i> iteratively (until no more improvement) to translate Verilog into AIG rec<b>[N]</b>.aig</span>
              %read rec<b>[N]</b>.v
              %blast
              &put
              resyn2; print_stats
              resyn2; print_stats
              ...
              write rec<b>[N]</b>.aig

              <span style="color: darkred"># CirKit</span>
              read_aiger rec<b>[N]</b>.aig
              xmglut -k 4
              write_verilog -x rec<b>[N]</b>.xmg.v
              quit

              <span style="color: darkred"># RevKit</span>
              read_verilog -x rec<b>[N]</b>.xmg.v
              dxs
              ps -c
              write_real rec<b>[N]</b>.real
