!!! 5
%html
  %head
    = Haml::Engine.new(File.read('_header.haml')).render(Object.new, :title => 'Mathias Soeken / RevKit')
    %link(href="css/doc.css" rel="stylesheet")
  %body
    .container#main-container
      .row#main-row
        = Haml::Engine.new(File.read('_nav.haml')).render(Object.new, :page => "revkit")
        .col-md-9
          %a(href="https://github.com/msoeken/cirkit" target="_blank")
            %img(style="position: absolute; top: 0; right: 0; border: 0" src="images/ribbon.png" alt="Fork me on GitHub")
          %h1 RevKit
          %p(style="width:95%")
            RevKit is an open source C++ logic synthesis framework for reversibe logic.
            It is based on the reversible and quantum library
            %a(href="https://github.com/boschmitt/tweedledum") tweedledum,
            and the logic network library
            %a(href="https://github.com/lsils/mockturtle") mockturtle.
            It uses
            %a(href="https://github.com/msoeken/alice" target="_blank") alice
            to create commands for the command line interface and to expose a Python interface.
          %h3 Download CirKit
          %p
            %a(href="http://github.com/msoeken/cirkit" target="_blank") github.com/msoeken/cirkit
          %p
            Previous versions of RevKit can be downloaded from
            the
            %a(href="https://github.com/msoeken/cirkit/tree/develop" target="_blank") develop
            branch in the Github repository.
            Older versions are no longer maintained.
          %h3 Install RevKit
          %pre
            :preserve
              git clone --recursive https://github.com/msoeken/cirkit.git
              cd cirkit
              mkdir build
              cd build
              cmake ..
              make revkit
              cd ..
          %h3 Run RevKit
          After a successful compilation, run
          %pre
            :preserve
              ./build/cli/revkit
          from the main directory.
          %h3 Requirements
          %ul
            %li Linux, Mac, or Windows
            %li git
            %li cmake (at least version 3.8.0)
            %li g++ (at least version 7.3.0) or clang++ (at least version 6.0.0)
            %li GNU readline (optional)

