!!! 5
%html
  %head
    = Haml::Engine.new(File.read('_header.haml')).render(Object.new, :title => 'Mathias Soeken / Tutorials')
    %link(href="css/doc.css" rel="stylesheet")
  %body
    .container#main-container
      .row#main-row
        = Haml::Engine.new(File.read('_nav.haml')).render(Object.new, :page => "cirkit")
        .col-md-9
          %h1 Tutorials
          %ul
            %li
              %a(href="cirkit_new_addon.html") Getting started with CirKit development with add-ons
            %li
              %a(href="cirkit_examples.html") CirKit showcase
